.span {
    background: #FFFFFF;
    transform: rotate(-45deg);
    position: absolute;
    left: 16.7px;
    bottom: 16px;
    width: 19.9px;
    height: 19.9px;
  }
  .button {
    opacity: 0.5;
    border-radius: 50px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    margin: 231px 0 251px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 16.2px 10px 15.2px;
    box-sizing: border-box;
  }
  .v {
    transform: rotate(-90deg);
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
  }
  .button-1 {
    opacity: 0.2;
    border-radius: 50px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    width: 19px;
    height: 19px;
  }
  .button-2 {
    opacity: 0.2;
    border-radius: 50px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    width: 19px;
    height: 19px;
  }
  .button-3 {
    opacity: 0.2;
    border-radius: 50px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    width: 19px;
    height: 19px;
  }
  .carrocel {
    box-shadow: -20px -20px 60px 0px #FFFFFF;
    border-radius: 50px;
    position: absolute;
    background: #E0E0E0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    width: 1299px;
    height: 707px;
    left: 8%;
    box-sizing: border-box;
  }
  .button-4 {
    opacity: 0.2;
    border-radius: 50px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    width: 19px;
    height: 19px;
  }
  .button-5 {
    opacity: 0.2;
    border-radius: 50px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    width: 19px;
    height: 19px;
  }
  .button-6 {
    opacity: 0.2;
    border-radius: 50px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    width: 19px;
    height: 19px;
  }
  .fossas-nasais {
    margin: 32px 18.5px 0 0;
    display: inline-block;
    width: 389px;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 30px;
    color: #000000;
  }
  .rectangle-7210 {
    position: relative;
    border-radius: 10px;
    margin: 10px 41px 0 0;
    width: 1200px;
    height: 522px;
    background: url('https://odontoufpel.github.io/radiografiasperiapicais/img/IS/IS%207.png') 50% / cover no-repeat;
    transition: opacity 0.3s ease; /* Adicionando transição suave */
  }
  .rectangle-7210:hover {
    opacity: 100%; /* Reduzindo a opacidade quando o mouse passa por cima */
  }
  .rectangle-7210::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://odontoufpel.github.io/radiografiasperiapicais/img/IS/IS%207_h.png');
    background-size: cover;
    border-radius: 10px;
    opacity: 0; /* Inicialmente oculto */
    transition: 0.3s ease; /* Transição suave da opacidade */
    background-size: cover;
  }
  .rectangle-7210:hover::after {
    opacity: 100%; /* Torna visível quando o mouse passa por cima */
  }
  .reas-radiolcidas-simtricas-separadas-por-uma-faixa-radiopacasepto-nasal-localizada-acima-dospices-dos-incisivos {
    margin: 0 135.7px 380px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 31px;
    color: #000000;
  }
  .radiolcidas {
    position: absolute;
    width: 534px;
    height: 73px;
    left: 382px;
    top: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: #000000;
  }
  .line-8 {
    background: #000000;
    margin: 53px 115px 51px 0;
    width: 1px;
    height: 428px;
    left: 50%;
  }
  .button-7 {
    opacity: 0.5;
    border-radius: 50px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    margin: 232px 38px 250px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 15.2px 10px 16.2px;
    box-sizing: border-box;
  }
  .v-8 {
    transform: rotate(90deg);
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
  }
  .button-9 {
    border-radius: 20px;
    background: #A00505;
    position: relative;
    margin: 5px 0 14.7px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17.4px 16.7px 16px 16.7px;
    width: 53.3px;
    height: 53.3px;
    box-sizing: border-box;
}
    .span,
    .span-3 {
    background: #FFFFFF;
    position: absolute;
    width: 19.9px;
    height: 2px;
}
    .span {
    transform: rotate(45deg);
    top: 50%;
    left: 32%;
    transform-origin: center; 
}
    .span-3 {
    transform: rotate(-45deg);
    top: 50%;
    left: 32%;
    transform-origin: center; 
}
  .container {
    margin: 0 26.7px 28px 127.8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1144.5px;
    box-sizing: border-box;
  }
  .container-11 {
    margin-left: 53px;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    width: 154px;
    box-sizing: border-box;
  }
  .container-12 {
    margin-bottom: 72px;
    display: flex;
    flex-direction: row;
    width: 1349px;
    box-sizing: border-box;
  }