/* CSS Atualizado para a Página Incisivos Inferiores */

.incisivos-inferiores .container {
  margin: 0 73px 0 30.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1291.9px;
  box-sizing: border-box;
}

.incisivos-inferiores .container-1 {
  margin: 0 8.7px 7px 8.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 980.6px;
  box-sizing: border-box;
}

.incisivos-inferiores .container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1360px;
  box-sizing: border-box;
}

.incisivos-inferiores {
  background: #E1E7F7;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 35px 23px 30px 22px;
  width: 1440px;
  box-sizing: border-box;
}

.incisivos-inferiores .div-card {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 50px;
  background: #E0E0E0;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  padding: 41px 17px 14px 18px;
  width: fit-content;
  box-sizing: border-box;
}

.incisivos-inferiores .button {
  opacity: 0.5;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  width: 80px;
  height: 50px;
}

.incisivos-inferiores .button-1 {
  opacity: 0.5;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  width: 80px;
  height: 50px;
}

.incisivos-inferiores .div-card-1 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 40px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 26px 2px;
  box-sizing: border-box;
}

.incisivos-inferiores .button-2 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  right: -2px;
  bottom: 0px;
  width: 145px;
  height: 55px;
}

.incisivos-inferiores .fossa-mentual {
  position: relative;
  margin: 0 14.7px 0 16.7px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

.incisivos-inferiores .rectangle-7216 {
  border-radius: 40px 40px 0 0;
  background: url('../assets/images/rectangle7216.png');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
}

.incisivos-inferiores .div-card-2 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 40px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 26px 2px;
  box-sizing: border-box;
}

.incisivos-inferiores .button-3 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  right: -2px;
  bottom: 0px;
  width: 145px;
  height: 55px;
}

.incisivos-inferiores .foramina-lingual {
  position: relative;
  margin: 0 4.1px 0 6.1px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

.incisivos-inferiores .rectangle-72161 {
  border-radius: 40px 40px 0 0;
  background: url('../assets/images/rectangle7216.png');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
}

.incisivos-inferiores .div-card-3 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 40px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 26px 2px;
  box-sizing: border-box;
}

.incisivos-inferiores .button-4 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  right: -2px;
  bottom: 0px;
  width: 145px;
  height: 55px;
}

.incisivos-inferiores .canais-nutrientes {
  position: relative;
  margin: 0 3.8px 0 5.8px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

.incisivos-inferiores .rectangle-72162 {
  border-radius: 40px 40px 0 0;
  background: url('../assets/images/rectangle7216.png');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
}

.incisivos-inferiores .line-7 {
  background: #000000;
  margin: 46px 0 3px 0;
  width: 764px;
  height: 1px;
}

.incisivos-inferiores .estruturas-radiolcidas {
  margin: 0 50.9px 31px 50.9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 40px;
  color: #000000;
}

.incisivos-inferiores .estruturas-radiopacas {
  margin: 0 56.2px 25px 56.2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 40px;
  color: #000000;
}

.incisivos-inferiores .div-card-4 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 40px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 8px 2px;
  box-sizing: border-box;
}

.incisivos-inferiores .button-5 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  right: -2px;
  bottom: 0px;
  width: 145px;
  height: 55px;
}

.incisivos-inferiores .protuberncia-mentual {
  position: relative;
  margin: 0 16.5px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

.incisivos-inferiores .rectangle-72163 {
  border-radius: 40px 40px 0 0;
  background: url('../assets/images/rectangle7216.png');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
}

.incisivos-inferiores .div-card-5 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 40px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 26px 2px;
  box-sizing: border-box;
}

.incisivos-inferiores .button-6 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  right: -2px;
  bottom: 0px;
  width: 145px;
  height: 55px;
}

.incisivos-inferiores .espinha-genianas {
  position: relative;
  margin: 0 3.1px 0 5.1px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

.incisivos-inferiores .rectangle-72164 {
  border-radius: 40px 40px 0 0;
  background: url('../assets/images/rectangle7216.png');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
}

.incisivos-inferiores .div-card-6 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 40px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 8px 2px;
  box-sizing: border-box;
}

.incisivos-inferiores .button-7 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  right: -2px;
  bottom: 0px;
  width: 145px;
  height: 55px;
}

.incisivos-inferiores .paredes-da-foramina-lingual {
  position: relative;
  margin: 0 8.2px 0 10.2px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

.incisivos-inferiores .rectangle-72165 {
  border-radius: 40px 40px 0 0;
  background: url('../assets/images/rectangle7216.png');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
}

.incisivos-inferiores .div-card-7 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 40px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 26px 2px;
  box-sizing: border-box;
}

.incisivos-inferiores .button-8 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  right: -2px;
  bottom: 0px;
  width: 145px;
  height: 55px;
}

.incisivos-inferiores .base-mandibular {
  position: relative;
  margin: 0 5.4px 0 7.4px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

.incisivos-inferiores .rectangle-72166 {
  border-radius: 40px 40px 0 0;
  background: url('../assets/images/rectangle7216.png');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
}

.incisivos-inferiores .line-6 {
  background: #000000;
  margin: 0 0 28px 1px;
  align-self: center;
  width: 700px;
  height: 1px;
}

.incisivos-inferiores .incisivos-inferiores-1 {
  margin-right: 36.5px;
  width: 890.7px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 60px;
  color: #000000;
}

.incisivos-inferiores .button-9 {
  border-radius: 20px;
  background: #A00505;
  position: relative;
  margin: 5px 0 14.7px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 17.5px 16.7px 16px 16.7px;
  width: 53.3px;
  height: 53.3px;
  box-sizing: border-box;
}

.incisivos-inferiores .span {
  background: #FFFFFF;
  transform: rotate(45deg);
  position: relative;
  width: 19.9px;
  height: 19.9px;
}

.incisivos-inferiores .span-1 {
  background: #FFFFFF;
  transform: rotate(-45deg);
  position: absolute;
  left: 16.7px;
  bottom: 16px;
  width: 19.9px;
  height: 19.9px;
}

.incisivos-inferiores .professor-dr-carlos-alberto-monteiro-falco-cd-mrio-gomes-de-souza {
  margin: 39px 0 17px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Lora';
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.incisivos-inferiores .imagem-202402042102066051 {
  background: url('../assets/images/imagem202402042102066051.png') 50% / cover no-repeat;
  width: 70px;
  height: 108px;
}

.incisivos-inferiores .uespi {
  margin: 33px 25.5px 24px 0;
  display: inline-block;
  width: 420.5px;
  overflow-wrap: break-word;
  font-family: 'Lora';
  font-weight: 500;
  font-size: 40px;
  color: #000000;
}

.incisivos-inferiores .container-3 {
  margin: 0 7px 29px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 849px;
  box-sizing: border-box;
}

.incisivos-inferiores .container-4 {
  margin: 0 1px 18px 0;
  display: flex;
  flex-direction: row;
  align-self: center;
  column-gap: 169px;
  width: fit-content;
  box-sizing: border-box;
}

/* Media Queries para responsividade */

/* Media Queries para telas até 1200px */
@media (max-width: 1200px) {
  .incisivos-inferiores {
    padding: 35px 10px 30px 10px;
    width: 100%;
  }

  .incisivos-inferiores .container,
  .incisivos-inferiores .container-1,
  .incisivos-inferiores .container-2,
  .incisivos-inferiores .container-3,
  .incisivos-inferiores .container-4 {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .incisivos-inferiores .div-card {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
  }

  .incisivos-inferiores .estruturas-radiolcidas,
  .incisivos-inferiores .estruturas-radiopacas {
    font-size: 30px;
    margin: 20px 0;
  }

  .incisivos-inferiores .incisivos-inferiores-1 {
    font-size: 50px;
    width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .incisivos-inferiores .line-6,
  .incisivos-inferiores .line-7 {
    width: 80%;
    margin: 20px auto;
  }
}

/* Media Queries para telas até 768px */
@media (max-width: 768px) {
  .incisivos-inferiores {
    padding: 20px 10px 20px 10px;
    width: 100%;
    align-items: center;
  }

  .incisivos-inferiores .container,
  .incisivos-inferiores .container-1,
  .incisivos-inferiores .container-2,
  .incisivos-inferiores .container-3,
  .incisivos-inferiores .container-4 {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .incisivos-inferiores .div-card,
  .incisivos-inferiores .div-card-1,
  .incisivos-inferiores .div-card-2,
  .incisivos-inferiores .div-card-3,
  .incisivos-inferiores .div-card-4,
  .incisivos-inferiores .div-card-5,
  .incisivos-inferiores .div-card-6,
  .incisivos-inferiores .div-card-7 {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
  }

  .incisivos-inferiores .estruturas-radiolcidas,
  .incisivos-inferiores .estruturas-radiopacas {
    font-size: 25px;
    margin: 15px 0;
  }

  .incisivos-inferiores .incisivos-inferiores-1 {
    font-size: 40px;
    width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .incisivos-inferiores .line-6,
  .incisivos-inferiores .line-7 {
    width: 80%;
    margin: 20px auto;
  }
}

/* Media Queries para telas até 480px */
@media (max-width: 480px) {
  .incisivos-inferiores {
    padding: 15px 5px 15px 5px;
    width: 100%;
    align-items: center;
  }

  .incisivos-inferiores .container,
  .incisivos-inferiores .container-1,
  .incisivos-inferiores .container-2,
  .incisivos-inferiores .container-3,
  .incisivos-inferiores .container-4 {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .incisivos-inferiores .div-card,
  .incisivos-inferiores .div-card-1,
  .incisivos-inferiores .div-card-2,
  .incisivos-inferiores .div-card-3,
  .incisivos-inferiores .div-card-4,
  .incisivos-inferiores .div-card-5,
  .incisivos-inferiores .div-card-6,
  .incisivos-inferiores .div-card-7 {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
  }

  .incisivos-inferiores .estruturas-radiolcidas,
  .incisivos-inferiores .estruturas-radiopacas {
    font-size: 20px;
    margin: 10px 0;
  }

  .incisivos-inferiores .incisivos-inferiores-1 {
    font-size: 30px;
    width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .incisivos-inferiores .line-6,
  .incisivos-inferiores .line-7 {
    width: 60%;
    margin: 10px auto;
  }
}
