

button{
  border: transparent;
  cursor: pointer;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
}
button:hover{
  transform: scale(1.05);
  transition: .2s;
  opacity: 40%;
}
/* CABEÇALHO */
header {
  padding: 40px 4%;
  display: flex;
  width: 100%;
  height: 20%;
  background: rgba(24, 56, 140, 0.16);
}
header .interface {
  
  border-radius: 0px;
  background: transparent;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

header a{
  color: rgb(58, 54, 54);
  text-decoration: none;
  display: flex;
  transition: .2s;
}

header a:hover{
  color: rgb(3, 3, 3);
  transform: scale(1.05);
}

header nav ul{
  list-style: none;
  font-size: 2rem;
  display: flex;
  gap: 20px;
}

header nav ul li{
  display: inline-block;

}
header div .logo{
  width: 80px;
  height: 80px;
  left: 60px;
}
.area-estudos,
.questionario,
.sobre-o-projeto{
  position: absolute;
  margin: 7px;
  text-align: center;
}
.bnt-area, 
.bnt-quest,
.bnt-sobre{
  display: inline-flex;
  margin: 0 15px;
  border-radius: 20px;
  width: 256px;
  height: 50px;
  background-color:  linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  align-items: center;
  justify-content: center;
  opacity: 0.2;

}
.menu-desktop{
  display: flex;
  position: absolute;
  justify-content: center;
  width: 970px; 
  position: relative;
  
}
.area,
.quest,
.sobre{
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  display: flex;
  margin: 0 50px 0 50px;
}
.estruturas {
  background: #E1E7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 27px 57px 18px;
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 40px;
  
}
.div-card {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 50px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 59px 22px 21px 22px;
  width: 98%;
  margin: 0 auto;
  box-sizing: border-box;

 }
.button-12,
.button-13 {
  display: inline-flex;
  margin: 0 15px;
  border-radius: 20px;
  width: 95px;
  height: 50px;
  background-color:  linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  align-items: center;
  justify-content: center;
  opacity: 0.2;
}
.bnt-anterior,
.bnt-proximo{
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  display: flex;
}
.bnt-prox,
.bnt-ant{
  font-size: 15px;
  position: absolute;
  margin: 10px;
  justify-content: center;
  text-align: center;
}
.line-2 {
  background: #000000;
  margin: 70px 0 3px 0;
  width: 764px;
  height: 1px;
}
.estruturas-radiolcidas,
.estruturas-radiopacas  {
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 25px;
  color: #000000;
  margin: 35px 0 35px 1px;
}
.line-1 {
  background: #000000;
  margin: 46px 0 3px 0;
  width: 764px;
  height: 1px;
}
.incisivos-superiores {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 45px;
  color: #000000;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.span {
  background: #FFFFFF;
  transform: rotate(45deg);
  position: relative;
  width: 19.9px;
  height: 19.9px;
}
.span-3 {
  background: #FFFFFF;
  transform: rotate(-45deg);
  position: absolute;
  left: 16.7px;
  bottom: 16px;
  width: 19.9px;
  height: 19.9px;
}
.professor-cd {
  margin: 39px 0 17px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Lora';
  font-weight: 500;
  font-size: 20px;
  color: #000000;
 }
.imagem-logo {
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/fe903642f54c5577471c15a719851cb1f41ba707?Expires=1712100384&KeyName=fn12-cdn&Signature=Kz48py_V4bSJ85gRrG9wgCCkJSY=') 50% / cover no-repeat;
  width: 70px;
  height: 108px;
}
.uespi {
  margin: 33px 25.5px 24px 0;
  display: inline-block;
  width: 420.5px;
  overflow-wrap: break-word;
  font-family: 'Lora';
  font-weight: 500;
  font-size: 40px;
  color: #000000;
}
.rectangle-5 {
  border-radius: 40px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
  background-size: cover;
}
.div-card-1,
.div-card-2,
.div-card-3,
.div-card-4,
.div-card-5,
.div-card-6,
.div-card-7,
.div-card-8,
.div-card-9,
.div-card-10,
.div-card-11,
.div-card-12 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 40px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8px;
  box-sizing: border-box;
  overflow: hidden;
}
.button-1,
.button-2,
.button-3,
.button-4,
.button-5,
.button-6,
.button-7,
.button-8,
.button-9,
.button-10,
.button-11 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 55px;
}
.fossas-incisivas,
.aberturas-nasais-do-anterior,
.assoalho-de-fossas-nasais,
.conchas-nasais-inferiores,
.paredes-do-canal-incisivo,
.sutura-palatina-mediana,
.forame-incisivo,
.septo-nasal,
.fossas-nasais,
.canal-incisivo,
.aberturas-nasais-do-canal-incisivo {
  position: absolute;
  margin: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 75%;
  color: #000000;
  top: 70%;
}
.rectangle-6 {
  border-radius: 40px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
  left: 100px;
  background-size: cover;
}


.rectangle-7 {
  border-radius: 40px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
  background-size: cover;
}
.rectangle-8 {
  border-radius: 40px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
  background-size: cover;
}
.rectangle-9 {
  border-radius: 40px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
  background-size: cover;
}

.rectangle-10 {
  border-radius: 40px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
  background-size: cover;
}
.rectangle-11 {
  border-radius: 40px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
  background-size: cover;
}
.rectangle-1 {
  border-radius: 40px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
  background-size: cover;
}
.rectangle-2 {
  border-radius: 40px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
  background-size: cover;
}
.rectangle-3 {
  border-radius: 40px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
  background-size: cover;
}
.rectangle-4 {
  border-radius: 40px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
  background-size: cover;
}

.rectangle-5 {
  border-radius: 40px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
   background-size: cover;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
}
.container-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-around;
}
.container-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.container-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%S;
  box-sizing: border-box;
}
.container-1{
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
}
body{
  background-color: #e1e7f7;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
}
footer {
  padding: 40px 4%;
  display: flex;
  width: 100%;
  height: 20%;
  background: rgba(24, 56, 140, 0.16);
  top: 100%;
  position: relative;
}
  
footer a{
  text-decoration: none;
  color: #000000;
  justify-content: center;
}
  
footer div ul{
  list-style: none;
  font-size: 15px;
  position: relative;
  top: 50px;
  left: 70px;
  justify-content: center;
}
  
footer div ul li{
  display: flex;
  padding: 0 120px 0 0;
  position: relative;
  align-items:start;
  justify-content: center;
  left:0%;
  right: 50%;
}

footer div .logo{
  width: 80px;
  height: 80px;
  left: 60px;
}
  
.uespi{
  display: flex;
  overflow-wrap: break-word;
  font-family: 'Lora';
  font-size: 40px;
  color: #000000;
}
  
.conteinerFooter{
  box-shadow: transparent;
  border-radius: 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
}
.menu-desktop-footer {
  display: flex;
  /* Ajuste os valores para posicionar corretamente */
  text-align: center;
  padding-left: 50px;
}
  
  /* Media Query para telas até 768px */
@media (max-width: 800px) {
    /* cabeçalho */
  .menu-desktop{
    display: none;
  }
  
    /* rodapé */
  .line-2{
    width: 0%;
  }
  .div-card-2,.div-card-3, .div-card-4, .div-card-5,.div-card-6, .div-card-7, .div-card-8, .div-card-9, .div-card-10,.div-card-11,.div-card-12{
    margin-bottom: 30px; /* Ajuste este valor conforme necessário */
  }
}
  /* Media Queries */
@media (max-width: 1200px) {
  header nav ul {
    font-size: 150%;
  }

  header nav ul li {
  padding: 0 60px 0 0;
  }

  .div-card {
    padding: 15px;
  }
}


@media (max-width: 390px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .logo {
    width: 150%;
    display: flex;
    position: fixed;
  }
  header div .logo{
    display: flex;
    margin-bottom: 0;
    margin-top: 20px;
    width: 60px;
  }
  header img{
    width: 150%;
    width: 150%;
  }

  header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 104%;
    height: 20vh; /* 100% da altura da viewport */
    background-size: cover;
    background-position: center;
  }
  header .interface{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  header div .logo{
    display: flex;
    width: 60px;
    margin-bottom: 0;
    margin-top: 20px;
    width: 60px;
  }
  .menu-desktop{
    display: flex;
    width: 330px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .conteinerFooter{
    display: flex;
    width: 70%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  footer p{
    font-size: 20%;
  }
  .bnt-area, 
  .bnt-quest,
  .bnt-sobre{
    display: flex;
    width: 110px;
    height: 40px;
  }
  .area,
  .quest,
  .sobre{
    margin: 0 2px 0 2px;
    width: 110px;
    height: 40px;
  }
  .area-estudos,
  .questionario,
  .sobre-o-projeto{
    display: flex;
    font-size: 40%;
  }
  .bnt-ant,
  .bnt-prox{
    display: flex;
    width: 60%;
  }
  .div-card {
    padding: 10px;
  }

  .estruturas {
    grid-template-columns: 1fr;
  }
  .div-card-2,.div-card-3, .div-card-4, .div-card-5,.div-card-6, .div-card-7, .div-card-8, .div-card-9, .div-card-10,.div-card-11,.div-card-12{
    margin-bottom: 30px; /* Ajuste este valor conforme necessário */
  }
  .line-2 {
    width: 4%;
  }
  footer {
    display: flex;
    width: 104%;
    height: 40px;
  }

  footer div .logo {
    height: 40px;
    width: 25px;
  }
  footer .conteinerFooter{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    top: -20px;
    position: relative;
  
  }
  footer .p{
    font-size: 80%;
  }
  footer .uespi{
    font-size: 80%;
  }
  footer div .uespi{
    display: flex;
    margin: 0;
    width: 60px;
  }
  footer div ul {
    font-size: 10px;
    top: 10px;
  }
  .incisivos-superiores{
    font-size: 30px;
    margin-top: 20px;
  }
  
  footer div .logoFooter{
    display: flex;
    width: 40px;
    height: 40px;
    top: 10px;
  }
  .menu-desktop-footer{
    display: flex;
    padding-left: 0;
  }
  footer a{
    padding: 0;
    font-size: 60%;
  }
  footer div .nomes-p-a{
    width: 270px;
    align-items: center;
    justify-content: center;
  }
  body{
    width: 428px;
    height: 932px;
    
  }
}
/* Media Query para telas menores */
@media (max-width: 768px) {
  .line-2 {
      width: 0%;
  }
  header {
    flex-direction: column;
    align-items: center;
  }
  header .interface {
    flex-direction: row;
    gap: 10px;
  }
  header nav ul {
    flex-direction: column;
    align-items: center;
  }
  header nav ul li {
    padding: 10px 0;
  }
  .logo {
    position: static;
  }
  .conteinerHeader {
    padding: 20px;
  }
  .div-card {
    margin-bottom: 30px; /* Ajuste este valor conforme necessário */
  }

  footer div ul {
    font-size: 12px;
    top: 20px;
    left: 0;
  }
  footer .logo {
    position: static;
    margin-bottom: 10px;
  }
  .uespi {
    font-size: 30px;
    margin: 10px 0;
    left: 0;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .line-2 {
    width: 0%;
  }
}
@media (max-width: 884px){
  .line-2 {
    width: 0%;
  }
  .div-card-2,.div-card-3, .div-card-4, .div-card-5,.div-card-6, .div-card-7, .div-card-8, .div-card-9, .div-card-10,.div-card-11,.div-card-12{
    margin-bottom: 30px; /* Ajuste este valor conforme necessário */
  }
}
.janela-modal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color:#00000080;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.modal{
  width: 60%;
  height: 80%;
  min-width: 450px;
  min-height: 200px;
  background-color: #ffffff96;
  backdrop-filter: blur(10px);
  padding: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.fechar{
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  background-color: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  color:black;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.janela-modal.abrir{
  display: flex;
}
@media (max-width: 768px) {
  .modal {
    width: 80%;
    min-width: 300px;
    padding: 30px;
  }
}

@media (max-width: 480px) {
  .modal {
    width: 90%;
    min-width: 250px;
    padding: 20px;
  }
}
.radiolucidas{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding-bottom: 20px;
}
.container-modal{
  width: 100%;
  background-color:#E0E0E0;
  height: 100%;
  border-radius: 50px;
  box-shadow: -20px -20px 60px 0px #FFFFFF;
  position: relative;
  flex-direction: row;
  display: flex;
  padding-top: 25px;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 20px; /* Espaçamento entre os blocos */
  overflow-wrap: break-word;
}
.bloco-imagem{
  width: 50%;
  height: 100%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img{
  position: relative;
  border-radius: 10px;
  margin: 10px 41px 0 0;
  background: url('https://odontoufpel.github.io/radiografiasperiapicais/img/IS/IS%207.png') 50% / cover no-repeat;
  transition: opacity 0.3s ease; /* Adicionando transição suave */
  width: 75%;
  height: 90%;
  justify-content: center;

}
.img:hover {
  opacity: 100%; /* Reduzindo a opacidade quando o mouse passa por cima */
}
.img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://odontoufpel.github.io/radiografiasperiapicais/img/IS/IS%207_h.png');
  background-size: cover;
  border-radius: 10px;
  opacity: 0; /* Inicialmente oculto */
  transition: 0.3s ease; /* Transição suave da opacidade */
  background-size: cover;
}
.img:hover::after {
  opacity: 100%; /* Torna visível quando o mouse passa por cima */
}
.fossas-nasais-1{
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  color: #000000;
  justify-content: center;
  align-items: center;
}

.conteudo{
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-size: 15px;
  color: #000000;
}
.bloco-texto{
  width: 400px;
  height: 350px;
  border-radius: 30px;
  background-color: #BEBEBE;
  overflow: auto;
  scrollbar-color: auto;
}
.button-passar {
  opacity: 0.2;
  background-color: #ffffff00;
  color: #fff;
  width: 8.5em;
  height: 2.9em;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
  position: relative;
  left: 700px;
  top: 25px;
}

.button-passar:hover {
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  cursor: pointer;
}

.button-passar svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.button-passar:hover svg {
  transform: translateX(5px);
}

.text {
  margin: 0 1.5em
}
.buttons {
flex-direction: row;
}
