.molaresinferiores .container {
    margin: 0 8.7px 7px 8.7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 971.1px;
    box-sizing: border-box;
  }
  .molaresinferiores {
    background: #E1E7F7;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 35px 23px 30px 22px;
    width: 1440px;
    box-sizing: border-box;
  }
  .molaresinferiores .div-card {
    box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
    border-radius: 50px;
    background: #E0E0E0;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 41px 17px 14px 18px;
    width: fit-content;
    box-sizing: border-box;
  }
  .molaresinferiores .button {
    opacity: 0.5;
    box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
    border-radius: 20px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    width: 80px;
    height: 50px;
  }
  .molaresinferiores .button-1 {
    opacity: 0.5;
    box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
    border-radius: 20px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    width: 80px;
    height: 50px;
  }
  .molaresinferiores .line-7 {
    background: #000000;
    margin: 46px 0 3px 0;
    width: 764px;
    height: 1px;
  }
  .molaresinferiores .estruturas-radiolcidas {
    margin: 0 50.9px 38px 50.9px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 40px;
    color: #000000;
  }
  .molaresinferiores .estruturas-radiopacas {
    margin: 0 56.2px 25px 56.2px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 40px;
    color: #000000;
  }
  .molaresinferiores .div-card-1 {
    box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
    border-radius: 40px 40px 20px 20px;
    background: #E0E0E0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 26px 2px;
    box-sizing: border-box;
  }
  .molaresinferiores .button-2 {
    opacity: 0.2;
    box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
    border-radius: 0 0 20px 20px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    position: absolute;
    right: -2px;
    bottom: 0px;
    width: 145px;
    height: 55px;
  }
  .molaresinferiores .canal-mandbular {
    position: relative;
    margin: 0 2.4px 0 4.4px;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .molaresinferiores .rectangle-7216 {
    border-radius: 40px 40px 0 0;
    background: url('../assets/images/rectangle7216.png');
    margin-bottom: 11px;
    width: 145px;
    height: 148px;
  }
  .molaresinferiores .div-card-2 {
    box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
    border-radius: 40px 40px 20px 20px;
    background: #E0E0E0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 8px 2px;
    box-sizing: border-box;
  }
  .molaresinferiores .button-3 {
    opacity: 0.2;
    box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
    border-radius: 0 0 20px 20px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    position: absolute;
    right: -2px;
    bottom: 0px;
    width: 145px;
    height: 55px;
  }
  .molaresinferiores .fvea-submandibular {
    position: relative;
    margin: 0 12px 0 14px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .molaresinferiores .rectangle-72161 {
    border-radius: 40px 40px 0 0;
    background: url('../assets/images/rectangle7216.png');
    margin-bottom: 11px;
    width: 145px;
    height: 148px;
  }
  .molaresinferiores .div-card-3 {
    box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
    border-radius: 40px 40px 20px 20px;
    background: #E0E0E0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 8px 2px;
    box-sizing: border-box;
  }
  .molaresinferiores .button-4 {
    opacity: 0.2;
    box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
    border-radius: 0 0 20px 20px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    position: absolute;
    right: -2px;
    bottom: 0px;
    width: 145px;
    height: 55px;
  }
  .molaresinferiores .paredes-do-canal-mandibular {
    position: relative;
    margin: 0 5.3px 0 7.3px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .molaresinferiores .rectangle-72162 {
    border-radius: 40px 40px 0 0;
    background: url('../assets/images/rectangle7216.png');
    margin-bottom: 11px;
    width: 145px;
    height: 148px;
  }
  .molaresinferiores .div-card-4 {
    box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
    border-radius: 40px 40px 20px 20px;
    background: #E0E0E0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 26px 2px;
    box-sizing: border-box;
  }
  .molaresinferiores .button-5 {
    opacity: 0.2;
    box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
    border-radius: 0 0 20px 20px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    position: absolute;
    right: -2px;
    bottom: 0px;
    width: 145px;
    height: 55px;
  }
  .molaresinferiores .linha-milo-hiidea {
    position: relative;
    margin-left: 1.3px;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .molaresinferiores .rectangle-72163 {
    border-radius: 40px 40px 0 0;
    background: url('../assets/images/rectangle7216.png');
    margin-bottom: 11px;
    width: 145px;
    height: 148px;
  }
  .molaresinferiores .div-card-5 {
    box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
    border-radius: 40px 40px 20px 20px;
    background: #E0E0E0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 0 26px 2px;
    box-sizing: border-box;
  }
  .molaresinferiores .button-6 {
    opacity: 0.2;
    box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
    border-radius: 0 0 20px 20px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    position: absolute;
    right: -2px;
    bottom: 0px;
    width: 145px;
    height: 55px;
  }
  .molaresinferiores .linha-oblqua {
    position: relative;
    margin: 0 18.5px;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .molaresinferiores .rectangle-72164 {
    border-radius: 40px 40px 0 0;
    background: url('../assets/images/rectangle7216.png');
    margin-bottom: 11px;
    width: 145px;
    height: 148px;
  }
  .molaresinferiores .div-card-6 {
    box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
    border-radius: 40px 40px 20px 20px;
    background: #E0E0E0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 26px 2px;
    box-sizing: border-box;
  }
  .molaresinferiores .button-7 {
    opacity: 0.2;
    box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
    border-radius: 0 0 20px 20px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    position: absolute;
    right: -2px;
    bottom: 0px;
    width: 145px;
    height: 55px;
  }
  .molaresinferiores .base-mandibular {
    position: relative;
    margin: 0 5.4px 0 7.4px;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .molaresinferiores .rectangle-72165 {
    border-radius: 40px 40px 0 0;
    background: url('../assets/images/rectangle7216.png');
    margin-bottom: 11px;
    width: 145px;
    height: 148px;
  }
  .molaresinferiores .line-6 {
    background: #000000;
    margin: 0 0 28px 1px;
    align-self: center;
    width: 700px;
    height: 1px;
  }
  .molaresinferiores .molares-inferiores {
    margin-right: 36.5px;
    width: 881.3px;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 60px;
    color: #000000;
  }
  .molaresinferiores .button-8 {
    border-radius: 20px;
    background: #A00505;
    position: relative;
    margin: 5px 0 14.7px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 17.5px 16.7px 16px 16.7px;
    width: 53.3px;
    height: 53.3px;
    box-sizing: border-box;
  }
  .molaresinferiores .span {
    background: #FFFFFF;
    transform: rotate(45deg);
    position: relative;
    width: 19.9px;
    height: 19.9px;
  }
  .molaresinferiores .span-1 {
    background: #FFFFFF;
    transform: rotate(-45deg);
    position: absolute;
    left: 16.7px;
    bottom: 16px;
    width: 19.9px;
    height: 19.9px;
  }
  .molaresinferiores .professor-dr-carlos-alberto-monteiro-falco-cd-mrio-gomes-de-souza {
    margin: 39px 0 17px 0;
    display: inline-block;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 500;
    font-size: 20px;
    color: #000000;
  }
  .molaresinferiores .imagem-202402042102066051 {
    background: url('../assets/images/imagem202402042102066051.png') 50% / cover no-repeat;
    width: 70px;
    height: 108px;
  }
  .molaresinferiores .uespi {
    margin: 33px 25.5px 24px 0;
    display: inline-block;
    width: 420.5px;
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 500;
    font-size: 40px;
    color: #000000;
  }
  .molaresinferiores .container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1360px;
    box-sizing: border-box;
  }
  .molaresinferiores .container-2 {
    margin: 0 1px 18px 0;
    display: flex;
    flex-direction: row;
    align-self: center;
    column-gap: 169px;
    width: fit-content;
    box-sizing: border-box;
  }
  .molaresinferiores .container-3 {
    margin: 0 0 22px 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 554px;
    box-sizing: border-box;
  }
  .molaresinferiores .container-4 {
    margin: 0 73px 0 30.1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1291.9px;
    box-sizing: border-box;
  }