/* CABEÇALHO */
* {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(58, 54, 54);
  text-decoration: none;
  display: flex;
  transition: 0.2s;
  font-family: "Montserrat", sans-serif;
}

a:hover {
  color: rgb(3, 3, 3);
  transform: scale(1.05);
}

header {
  padding: 40px 4%;
  display: flex;
  width: 100%;
  z-index: 99;
}

header .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header nav ul {
  list-style: none;
  font-size: 200%;
  position: relative;
  margin-top: 18px;
  left: 250px;
  margin-left: -38%;
}

header nav ul li {
  display: inline-block;
  padding: 0 120px 0 0;
  position: relative;
}

.logo {
  width: 70px;
  height: auto;
  position: absolute;
  left: 5%;
  transform: translateX(-50%);
  top: 10px;
}

.conteinerHeader {
  box-shadow: -20px 20px 60px 0px #bebebe;
  border-radius: 0px;
  background: rgb(157, 169, 204);
  /* Mudança da cor do fundo */
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 150px;
  left: 0%;
  top: 0%;
  box-sizing: border-box;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (min-width: 30px) and (max-width: 430px) {
  body {
    overflow-x: hidden;
  }

  header .interface {
    flex-direction: row;
    /* Alteração para manter o menu à esquerda */
    justify-content: flex-start;
    /* Ajuste para alinhar à esquerda */
    margin-top: -15px;
  }

  header .logo {
    position: relative;
    left: 10%;
    top: 0;
    margin: 0 auto;
    /* Centraliza a logo horizontalmente */
    transform: none;
  }

  header nav ul {
    position: absolute;
    top: 8vh;
    right: 0;
    left: 15px;
    width: 100vw;
    height: 92vh;
    background: rgba(117, 138, 182, 0.16);
    /* Mudança da cor do fundo */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  header nav ul li {
    margin-left: 12%;
    opacity: 0;
    font-size: 20px;
    gap: 100px;
    margin-top: 20%;
  }

  .mobile-menu {
    display: block;
    position: relative;
    margin-left: 20px;
    /* Espaçamento à esquerda para o menu */
    margin-top: 0%;
  }
}

.nav-list {
  top: 88%;
  left: 40%;
  background: rgb(157, 169, 204);
  left: 70%;
}

.nav-list.active {
  transform: translateX(0);
  top: 88%;
  background: rgb(157, 169, 204);
  left: 70%;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 1300px) {
  .nav-list {
    font-size: 25px;
  }
}

@media (min-width: 440px) and (max-width: 1180px) {
  body {
    overflow-x: hidden;
  }

  header .interface {
    flex-direction: row;
    /* Alteração para manter o menu à esquerda */
    justify-content: flex-start;
    /* Ajuste para alinhar à esquerda */
    margin-top: -15px;
  }

  header .logo {
    position: relative;
    left: 8%;
    top: 0;
    margin: 0 auto;
    /* Centraliza a logo horizontalmente */
    transform: none;
  }

  header nav ul {
    position: absolute;
    top: 8vh;
    right: 0;
    left: 350px;
    width: 100vw;
    height: 92vh;
    background: rgba(117, 138, 182, 0.16);
    /* Mudança da cor do fundo */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  header nav ul li {
    margin-left: 12%;
    opacity: 0;
    font-size: 30px;
    margin-top: 20%;
    justify-items: center;
  }

  .mobile-menu {
    display: block;
    position: relative;
    margin-left: 20px;
    /* Espaçamento à esquerda para o menu */
    margin-top: 0%;
  }

  .nav-list {
    top: 88%;
    width: 550px;
    left: 95%;
    margin-left: -35%;
  }

  .nav-list.active {
    transform: translateX(0);
    top: 88%;
    left: 90%;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .mobile-menu.active .line2 {
    opacity: 0;
  }

  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
}

/* CSS MAIN */
body,
html {
  width: 100%;
}

.tecidosmoles .container {
  margin: 0 1px 189px 0;
  display: flex;
  flex-direction: row;
  align-self: center;
  column-gap: 169px;
  box-sizing: border-box;
}

.tecidosmoles .container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1360px;
  box-sizing: border-box;
}

.tecidosmoles {
  background: #E1E7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tecidosmoles .div-card {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 50px;
  background: #E0E0E0;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 178px 17px 14px 18px;
  box-sizing: border-box;
}

.tecidosmoles .line-7 {
  background: #000000;
  margin: 46px 0 3px 0;
  width: 764px;
  height: 1px;
}

.tecidosmoles .estruturas-radiopacas {
  margin: 0 56.2px 29px 56.2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 40px;
  color: #000000;
}

.tecidosmoles .div-card-1 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 40px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 8px 2px;
  box-sizing: border-box;
}

.tecidosmoles .button-2 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  right: -2px;
  bottom: 0px;
  width: 145px;
  height: 55px;
}

.tecidosmoles .projeo-do-lbio-superior {
  position: relative;
  margin: 0 18.4px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

.tecidosmoles .rectangle-7216 {
  border-radius: 40px 40px 0 0;
  background: url('../assets/images/rectangle7216.png');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
}

.tecidosmoles .div-card-2 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 40px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 8px 2px;
  width: 145px;
  box-sizing: border-box;
}

.tecidosmoles .button-3 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  right: -2px;
  bottom: 0px;
  width: 145px;
  height: 55px;
}

.tecidosmoles .projeo-do-lbio-inferior {
  position: relative;
  margin-left: 2px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

.tecidosmoles .rectangle-72161 {
  border-radius: 40px 40px 0 0;
  background: url('../assets/images/rectangle7216.png');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
}

.tecidosmoles .div-card-3 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 40px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 8px 2px;
  box-sizing: border-box;
}

.tecidosmoles .button-4 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  right: -2px;
  bottom: 0px;
  width: 145px;
  height: 55px;
}

.tecidosmoles .projeo-do-nariz {
  position: relative;
  margin: 0 18.8px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

.tecidosmoles .rectangle-72162 {
  border-radius: 40px 40px 0 0;
  background: url('../assets/images/rectangle7216.png');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
}

.tecidosmoles .div-card-4 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 40px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 8px 2px;
  box-sizing: border-box;
}

.tecidosmoles .button-5 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  right: -2px;
  bottom: 0px;
  width: 145px;
  height: 55px;
}

.tecidosmoles .projeo-do-sulco-nasolabial {
  position: relative;
  margin-left: 0.9px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

.tecidosmoles .rectangle-72163 {
  border-radius: 40px 40px 0 0;
  background: url('../assets/images/rectangle7216.png');
  margin-bottom: 11px;
  width: 145px;
  height: 148px;
}

.tecidosmoles .line-6 {
  background: #000000;
  margin: 0 0 28px 1px;
  align-self: center;
  width: 700px;
  height: 1px;
}

.tecidosmoles .tecidos-moles {
  margin-right: 36.5px;
  width: 826.3px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 60px;
  color: #000000;
}

.tecidosmoles .button-6 {
  border-radius: 20px;
  background: #A00505;
  position: relative;
  margin: 5px 0 14.7px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 17.5px 16.7px 16px 16.7px;
  width: 53.3px;
  height: 53.3px;
  box-sizing: border-box;
}

.tecidosmoles .container-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 916.1px;
  box-sizing: border-box;
  margin-top: 180px;
}

/* CSS FOOTER */
footer {
  display: flex;
  width: 100%;
  height: 100px;
  margin-right: 0;
}

footer a {
  text-decoration: none;
  color: #000000;
  justify-content: center;
}

footer div ul {
  list-style: none;
  font-size: 15px;
  position: relative;
  top: 50px;
  left: 70px;
  justify-content: center;
}

footer div ul li {
  display: flex;
  padding: 0 120px 0 0;
  position: relative;
  align-items: start;
  justify-content: center;
  left: 0%;
  right: 50%;
}

footer div.logo {
  width: 130px;
  height: 100px;
  margin-bottom: 15px;
  margin-right: 0;
  left: 0;
}

footer .logo {
  width: 60%;
  height: 80%;
  position: relative;
}

.uespi {
  position: relative;
  display: flex;
  width: 125px;
  height: 100px;
  overflow-wrap: break-word;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #000000;
}

footer div.uespi {
  display: flex;
  width: 125px;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}

footer .menu-desktop-footer {
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}

footer div.nomes-p-a {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.conteinerFooter {
  box-shadow: 20px 20px 20px 30px #bebebe;
  border-radius: 0px;
  background: rgba(24, 56, 140, 0.16);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 110px;
  left: 0%;
  top: 140%;
  box-sizing: border-box;
}

@media (max-width: 999px) {
  footer .conteinerFooter {
    flex-direction: row-reverse;
    align-items: center;
  }

  footer .logo img {
    width: 50px;
    height: 60px;
    left: 60px;
    margin-top: 10px;
  }

  .uespi {
    font-size: 18px;
    left: -20px;
  }

  .menu-desktop-footer {
    position: relative;
    margin-left: -10px;
  }

  footer .nomes-p-a p {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  footer .logo img {
    width: 60px;
  }

  .uespi {
    font-size: 16px;
  }

  footer .nomes-p-a p {
    font-size: 12px;
  }
}