/* ESTILO GERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Montserrat';
  font-style: normal;
  font-weight: 400;
}

body{
  background-color: #E1E7F7;
  height: 100vh;

}

.interface{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;

}

/* CABEÇALHO */
header {
  padding: 40px 4%;
}
header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a{
  color: rgb(58, 54, 54);
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}

header a:hover{
  color: rgb(3, 3, 3);
  transform: scale(1.05);
}

header nav ul{
  list-style: none;
  font-size: 35px;
  position: relative;
  top: 50px;
  left: 150px;
}

header nav ul li{
  display: inline-block;
  padding: 0 120px 0 0;
  position: relative

}
.logo{
  width: 70px;
  height: auto;
  position: absolute;
  left: 60px;
  top: 10px;

}

.conteinerHeader{
  box-shadow: -20px 20px 60px 0px #BEBEBE;
  border-radius: 0px;
  background: rgba(24, 56, 140, 0.16);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 150px;
  left: 0%;
  top: 0%;
  box-sizing: border-box;
}

/* css main */


.div-card-1 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 50px;
  background: #E0E0E0;
  position: relative;
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 59px 22px 21px 22px;
  width: flex;
  top: 100px;
  box-sizing: border-box;
}

button{
  border: transparent;
  cursor: pointer;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
}
button:hover{
  transform: scale(1.05);
  transition: .2s;
  opacity: 40%;
}
.button {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 77px;
  overflow:hidden
}
.div-card-2 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 225px;
  box-sizing: border-box;
  overflow: hidden;
}
  
.incisivos-superiores {
  position: relative;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.div-card-7 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 225px;
  box-sizing: border-box;
  overflow: hidden;
}
.rectangle-6 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-6 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 77px;
}
.incisivos-inferiores {
  position: relative;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.div-card-3 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 225px;
  box-sizing: border-box;
  overflow: hidden;
}
.rectangle-2 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-2 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 77px;
}
.caninos-superiores {
  position: relative;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
}
.area-de-estudo {
  background: #E1E7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 27px 57px 18px;
  box-sizing: border-box;
}
.div-card-8 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 225px;
  box-sizing: border-box;
  overflow: hidden;
}
.rectangle-7 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-7 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 77px;
}
.caninos-inferiores {
  position: relative;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.div-card-4 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 225px;
  box-sizing: border-box;
  overflow: hidden;
}
.rectangle-3 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-3 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  right: 0%;
  bottom: 0px;
  width: 225px;
  height: 77px;
}
.pr-molares-superiores {
  position: relative;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.div-card-9 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 225px;
  box-sizing: border-box;
  overflow: hidden;
}
.rectangle-8 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}

.button-8 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 77px;
}
.pr-molares-inferiores {
  position: relative;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.div-card-5 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 225px;
  box-sizing: border-box;
  overflow: hidden;
}
.rectangle-4 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-4 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 77px;
}
.molares-superiores {
  position: relative;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.div-card-10 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 225px;
  box-sizing: border-box;
  overflow: hidden;
}
.rectangle-9 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-9 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 77px;
}
.molares-inferiores {
  position: relative;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.button-11 {
  opacity: 0.5;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: relative;
  margin: 0 10px 5px 10px;
  align-self: flex-start;
  width: 100px;
  height: 50px;
}
.div-card-6 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 225px;
  box-sizing: border-box;
  overflow: hidden;
}
.rectangle-5 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-5 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 77px;
}
.seio-maxilar {
  position: relative;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.div-card-11 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 225px;
  box-sizing: border-box;
  overflow: hidden;
}
.rectangle-10 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-10 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 77px;
}
.tecidos-moles {
  position: relative;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.line-1 {
  background: #000000;
  margin: 0 92px 37px 99px;
  width: 1160px;
  height: 1px;
}
.line-2 {
  background: #000000;
  margin-left: 31px;
  width: 764px;
  height: 1px;
}
.frame {
  position: absolute;
  left: 8px;
  bottom: 42px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 54px;
  height: 20px;
  box-sizing: border-box;
}
.regiões {
  margin: 0 0 34px 9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 60px;
  color: #000000;
}
.professor-cd {
  position: relative;
  width: 700px;
  height: 78px;
  left: -150px;
  top: 20px;
  margin: 39px 0 17px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Lora';
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}
.imagem-202402042102066051 {
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/fe903642f54c5577471c15a719851cb1f41ba707?Expires=1712091658&KeyName=fn12-cdn&Signature=78XYkc8HlCXefB-p8AWt6Pao8MY=') 50% / cover no-repeat;
  width: 70px;
  height: 108px;
}
.uespi {
  margin: 19px 25.5px 38px 0;
  display: inline-block;
  width: 438.5px;
  overflow-wrap: break-word;
  font-family: 'Lora';
  font-weight: 500;
  font-size: 40px;
  color: #000000;
}
.vector {
  position: relative;
  width: 13px;
  height: 20px;
  left: 20px;
  top: 0px;
  background: #FFFFFF;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.rectangle-1 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.container-1 {
  margin: 0 6px 62px 0;
  display: flex;
  flex-direction: row;
  column-gap: 55px;
  width: 1345px;
  box-sizing: border-box;
}
.container-3 {
  margin: 0 6px 66px 0;
  display: flex;
  flex-direction: row;
  column-gap: 55px;
  width: 1345px;
  box-sizing: border-box;
}

/* CSS RODAPÉ */
footer .interface{
  padding: 40px 4%;

}
footer a{
  text-decoration: none;
  color: #000000;
  display: flex;

}
footer nav ul .l1{
  list-style: none;
  font-size: 20px;
  top: 80px;
  left: 150px;
  position: center;
}
footer nav ul .l2{
  position: center;
}
.logoRodapé img{
  width: 70px;
  height: auto;
  position: absolute;
  left: 90%;
}

.uespi{
margin: 19px 25.5px 38px 0;
display: inline-block;
width: 438.5px;
overflow-wrap: break-word;
font-family: 'Lora';
font-weight: 500;
 font-size: 40px;
color: black;
}