.button {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  border: transparent;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 77px;
  z-index: 1;
}
.incisivos-superiores {
  position: relative;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.div-card {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 225px;
  box-sizing: border-box;
  overflow: hidden;
}
.rectangle-7216 {
  border-radius: 20px 40px 0 0;
  background: url('https://repocursos.unasus.ufma.br/odontologia_20161/modulo_2/und1/media/imagens/img_pg21.png');
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform-origin: center center;
  z-index: 1;
}
.rectangle-7216:hover {
  transform: scale(1.2);
  transform-origin: center center;
}

.button-1 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border: transparent;
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 77px;
  z-index: 0;
}
.incisivos-inferiores {
  position: relative;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.div-card-2 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 225px;
  box-sizing: border-box;
}
.rectangle-72163 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-4 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 77px;
}
.caninos-superiores {
  position: relative;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
}
.area-de-estudo {
  background: #E1E7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 27px 57px 18px;
  width: 100%;
  box-sizing: border-box;
}
.div-card-5 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 225px;
  box-sizing: border-box;
}
.rectangle-72166 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-7 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 77px;
}
.caninos-inferiores {
  position: relative;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.div-card-8 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 225px;
  box-sizing: border-box;
}
.rectangle-72169 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-10 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  right: -1px;
  bottom: 0px;
  width: 225px;
  height: 77px;
}
.pr-molares-superiores {
  position: relative;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.div-card-11 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 225px;
  box-sizing: border-box;
}
.rectangle-721612 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.div-card-13 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 50px;
  background: #E0E0E0;
  position: relative;
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 59px 22px 21px 22px;
  width: 1395px;
  box-sizing: border-box;
}
.button-14 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 77px;
}
.pr-molares-inferiores {
  position: relative;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.div-card-15 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 225px;
  box-sizing: border-box;
}
.rectangle-721616 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-17 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 77px;
}
.molares-superiores {
  position: relative;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.div-card-18 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 225px;
  box-sizing: border-box;
}
.rectangle-721619 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-20 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 77px;
}
.molares-inferiores {
  position: relative;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.button-21 {
  opacity: 0.5;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 20px;
  border: transparent;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: relative;
  margin: 0 10px 5px 10px;
  align-self: flex-start;
  width: 100px;
  height: 50px;
}
.div-card-22 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 225px;
  box-sizing: border-box;
}
.rectangle-721623 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-24 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 77px;
}
.seio-maxilar {
  position: relative;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.div-card-25 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 225px;
  box-sizing: border-box;
}
.rectangle-721626 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-27 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  border: transparent;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 77px;
}
.tecidos-moles {
  position: relative;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.line-6 {
  background: #000000;
  margin: 0 92px 37px 99px;
  width: 1160px;
  height: 1px;
}
.line-7 {
  background: #000000;
  margin-left: 31px;
  width: 764px;
  height: 1px;
}
.frame-12 {
  position: absolute;
  left: 8px;
  bottom: 42px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 54px;
  height: 20px;
  box-sizing: border-box;
}
.regies {
  margin: 0 0 34px 9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 60px;
  color: #000000;
}
.professor-dr-carlos-alberto-monteiro-falco-cd-mrio-gomes-de-souza {
  position: relative;
  width: 700px;
  height: 78px;
  left: -150px;
  top: 20px;
  margin: 39px 0 17px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Lora';
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}
.imagem-202402042102066051 {
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/fe903642f54c5577471c15a719851cb1f41ba707?Expires=1712091658&KeyName=fn12-cdn&Signature=78XYkc8HlCXefB-p8AWt6Pao8MY=') 50% / cover no-repeat;
  width: 70px;
  height: 108px;
}
.uespi {
  margin: 19px 25.5px 38px 0;
  display: inline-block;
  width: 438.5px;
  overflow-wrap: break-word;
  font-family: 'Lora';
  font-weight: 500;
  font-size: 40px;
  color: #000000;
}
.vector {
  position: relative;
    background: url('');
}
.div-card-28 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 225px;
  box-sizing: border-box;
}
.rectangle-721629 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.container {
  margin: 0 62px 0 35.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1297.9px;
  box-sizing: border-box;
}
.container-30 {
  margin: 0 6px 62px 0;
  display: flex;
  flex-direction: row;
  column-gap: 55px;
  width: 1345px;
  box-sizing: border-box;
}
.container-31 {
  margin: 0 6px 66px 0;
  display: flex;
  flex-direction: row;
  column-gap: 55px;
  width: 1345px;
  box-sizing: border-box;
}