/* ESTILO GERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Montserrat';
  font-style: normal;
  font-weight: 400;
}

body{
  background-color: #E1E7F7;

}



/* CABEÇALHO */
header {
  padding: 40px 4%;
  display: flex;
  width: 100%;
}
header .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header a{
  color: rgb(58, 54, 54);
  text-decoration: none;
  display: flex;
  transition: .2s;
}

header a:hover{
  color: rgb(3, 3, 3);
  transform: scale(1.05);
}

header nav ul{
  list-style: none;
  font-size: 200%;
  position: relative;
  top: 50px;
  left: 150px;
}

header nav ul li{
  display: inline-block;
  padding: 0 120px 0 0;
  position: relative

}
.logo{
  width: 70px;
  height: auto;
  position: absolute;
  left: 60px;
  top: 10px;

}

.conteinerHeader{
  box-shadow: -20px 20px 60px 0px #BEBEBE;
  border-radius: 0px;
  background: rgba(24, 56, 140, 0.16);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 150px;
  left: 0%;
  top: 0%;
  box-sizing: border-box;
}

/* css main */


.div-card-1 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 50px;
  background: #E0E0E0;
  position: relative;
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 59px 22px 21px 22px;
  width: 98%;
  box-sizing: border-box;
}

button{
  border: transparent;
  cursor: pointer;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
}
button:hover{
  transform: scale(1.05);
  transition: .2s;
  opacity: 40%;
}
.button {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35%;
  width: 100%;
  overflow: hidden;
}
.div-card-2,
.div-card-3,
.div-card-4,
.div-card-5,
.div-card-6,
.div-card-7,
.div-card-8,
.div-card-9,
.div-card-10,
.div-card-11 {
  box-shadow: 0 20px 60px 0px #BEBEBE, 0 -20px 60px 0px #FFFFFF;
  border-radius: 40px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8px;
  width: 235px;
  height: 170px;
  margin-bottom: 30px;
  box-sizing: border-box;
  overflow: hidden;
}
  
.incisivos-superiores {
  position: absolute;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 90%;
  color: #000000;
  top: 70%;
}
.rectangle-1 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.rectangle-6 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-6 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35%;
  width: 100%;
  overflow: hidden;
}
.incisivos-inferiores {
  position: absolute;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 90%;
  color: #000000;
  top: 70%;
}

.rectangle-2 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-2 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35%;
  width: 100%;
  overflow: hidden;
}
.caninos-superiores {
  position: absolute;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 90%;
  color: #000000;
  text-transform: uppercase;
  top: 70%;
}
.area-de-estudo {
  border-radius: 50px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  margin: 0 auto;
  margin-top: 70px;
  padding: 59px 22px 21px 22px;
  box-sizing: border-box;
}

.rectangle-7 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-7 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35%;
  width: 100%;
  overflow: hidden;
}
.caninos-inferiores {
  position: absolute;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 90%;
  color: #000000;
  text-transform: uppercase;
  top: 70%;
}

.rectangle-3 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-3 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35%;
  width: 100%;
  overflow: hidden;
}
.pr-molares-superiores {
  position: absolute;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 90%;
  color: #000000;
  text-transform: uppercase;
  top: 70%;
}

.rectangle-8 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}

.button-8 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35%;
  width: 100%;
  overflow: hidden;
}
.pr-molares-inferiores {
  position: absolute;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 90%;
  color: #000000;
  text-transform: uppercase;
  top: 70%;
}

.rectangle-4 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-4 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35%;
  width: 100%;
  overflow: hidden;
}
.molares-superiores {
  position: absolute;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 90%;
  color: #000000;
  top: 70%;
  
}

.rectangle-9 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-9 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35%;
  width: 100%;
  overflow: hidden;
}
.molares-inferiores {
  position: absolute;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 90%;
  color: #000000;
  top: 70%;
}
.button-11 {
  opacity: 0.5;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: relative;
  margin: 0 10px 5px 10px;
  align-self: flex-start;
  width: 100px;
  height: 50px;
}
.rectangle-5 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-5 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35%;
  width: 100%;
  overflow: hidden;
}
.seio-maxilar {
  position: absolute;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 90%;
  color: #000000;
  text-transform: uppercase;
  top: 70%;
}
.rectangle-10 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-10 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35%;
  width: 100%;
  overflow: hidden;
}
.tecidos-moles {
  position: absolute;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 90%;
  color: #000000;
  text-transform: uppercase;
  top: 70%;
}
.line-1 {
  background: #000000;
  margin: 0 92px 37px 99px;
  width: 80%;
  height: 1px;
}
.line-2 {
  background: #000000;
  margin-left: 31px;
  width: 40%;
  height: 1px;
}
.nome-regioes {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 45px;
  color: #000000;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.regiões {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
 justify-content: center;
}
.professor-cd {
  position: relative;
  width: 700px;
  height: 78px;
  left: -150px;
  top: 20px;
  margin: 39px 0 17px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Lora';
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.uespi {
  margin: 19px 25.5px 38px 0;
  display: inline-block;
  width: 438.5px;
  overflow-wrap: break-word;
  font-family: 'Lora';
  font-weight: 500;
  font-size: 40px;
  color: #000000;
}


.container-1 {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-around;
}
.container-3 {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-around;
}


/* CSS RODAPÉ */
footer {
  padding: 40px 4%;
  display: flex;
  width: 100%;
  align-items: center;
  position: absolute;
}

footer a{
  text-decoration: none;
  color: #000000;
  justify-content: center;
}

footer div ul{
  list-style: none;
  font-size: 15px;
  position: relative;
  top: 50px;
  left: 70px;
  justify-content: center;
}

footer div ul li{
  display: flex;
  padding: 0 120px 0 0;
  position: relative;
  align-items:start;
  justify-content: center;
  left:0%;
  right: 50%;
}

footer .logo{
  width: 70px;
  height: auto;
  position: absolute;
  left: 85%;
  top: 10px;
}

.uespi{
  position: relative;
  margin: 19px 25.5px 38px 0;
  display: flex;
  width: 438.5px;
  overflow-wrap: break-word;
  font-family: 'Lora';
  font-weight: 500;
  font-size: 40px;
  color: #000000;
  left: -30%;
}

.conteinerFooter{
  box-shadow: 20px 20px 20px 30px #BEBEBE;
  border-radius: 0px;
  background: rgba(24, 56, 140, 0.16);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 150px;
  left: 0%;
  top: 140%;
  box-sizing: border-box;
}

.janela-modal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color:#00000080;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.modal{
  width: 60%;
  height: 80%;
  min-width: 450px;
  min-height: 200px;
  background-color: #ffffff96;
  backdrop-filter: blur(10px);
  padding: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.modal-scroll{
  max-height: calc(100vh - 20px);
  overflow-y: auto;
}
.fechar{
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  background-color: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  color:black;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.janela-modal.abrir{
  display: flex;
}
@media (max-width: 768px) {
  .modal {
    width: 80%;
    min-width: 300px;
    padding: 30px;
  }
}

@media (max-width: 480px) {
  .modal {
    width: 90%;
    min-width: 250px;
    padding: 20px;
  }
  
}
.radiolucidas{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding-bottom: 20px;
}
.container-modal{
  width: 100%;
  background-color:#E0E0E0;
  height: 100%;
  border-radius: 50px;
  box-shadow: -20px -20px 60px 0px #FFFFFF;
  position: relative;
  flex-direction: row;
  display: flex;
  padding-top: 25px;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 20px; /* Espaçamento entre os blocos */
  overflow-wrap: break-word;
}
.bloco-imagem{
  width: 50%;
  height: 100%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img{
  position: relative;
  border-radius: 10px;
  margin: 10px 41px 0 0;
  background: url('https://odontoufpel.github.io/radiografiasperiapicais/img/IS/IS%207.png') 50% / cover no-repeat;
  transition: opacity 0.3s ease; /* Adicionando transição suave */
  width: 75%;
  height: 90%;
  justify-content: center;

}
.img:hover {
  opacity: 100%; /* Reduzindo a opacidade quando o mouse passa por cima */
}
.img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://odontoufpel.github.io/radiografiasperiapicais/img/IS/IS%207_h.png');
  background-size: cover;
  border-radius: 10px;
  opacity: 0; /* Inicialmente oculto */
  transition: 0.3s ease; /* Transição suave da opacidade */
  background-size: cover;
}
.img:hover::after {
  opacity: 100%; /* Torna visível quando o mouse passa por cima */
}
.fossas-nasais{
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  color: #000000;
  justify-content: center;
  align-items: center;
}

.conteudo{
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-size: 15px;
  color: #000000;
}
.bloco-texto{
  width: 50%;
  height: 100%;
  border-radius: 50px;
}
.button-passar {
  background-color: #ffffff00;
  color: #fff;
  width: 8.5em;
  height: 2.9em;
  border: #3654ff 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
  position: relative;
  left: 700px;
  top: 25px;
}

.button-passar:hover {
  background-color: #3654ff;
  cursor: pointer;
}

.button-passar svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.button-passar:hover svg {
  transform: translateX(5px);
}

.text {
  margin: 0 1.5em
}
.buttons {
flex-direction: row;
}
@media (min-width: 428px){
  .div-card-2, .div-card-3, .div-card-4, .div-card-5, .div-card-6, .div-card-7, .div-card-8, .div-card-9, .div-card-10, .div-card-11{
    display: flex;
    margin-bottom: 30px;
  }
  .container-1, .container-3{
    display: flex;
  }
}