/* ESTILO GERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Montserrat';
  font-style: normal;
  font-weight: 400;
}

body{
  background-color: #E1E7F7;
  height: 100vh;

}

.interface{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  flex-wrap: wrap;
  grid-template-rows: auto auto;

}

/* CABEÇALHO */
header {
  padding: 40px 4%;
  display: flex;
  width: 100%;
}
header .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header a{
  color: rgb(58, 54, 54);
  text-decoration: none;
  display: flex;
  transition: .2s;
}

header a:hover{
  color: rgb(3, 3, 3);
  transform: scale(1.05);
}

header nav ul{
  list-style: none;
  font-size: 200%;
  position: relative;
  top: 50px;
  left: 150px;
}

header nav ul li{
  display: inline-block;
  padding: 0 120px 0 0;
  position: relative

}
.logo{
  width: 70px;
  height: auto;
  position: absolute;
  left: 60px;
  top: 10px;

}

.conteinerHeader{
  box-shadow: -20px 20px 60px 0px #BEBEBE;
  border-radius: 0px;
  background: rgba(24, 56, 140, 0.16);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 150px;
  left: 0%;
  top: 0%;
  box-sizing: border-box;
}

/* css main */


.div-card-1 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 50px;
  background: #E0E0E0;
  position: relative;
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 59px 22px 21px 22px;
  width: 98%;
  top: 100px;
  box-sizing: border-box;
}

button{
  border: transparent;
  cursor: pointer;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
}
button:hover{
  transform: scale(1.05);
  transition: .2s;
  opacity: 40%;
}
.button {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35%;
  width: 100%;
  overflow: hidden;
}
.div-card-2 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 255px;
  box-sizing: border-box;
  overflow: hidden;
}
  
.incisivos-superiores {
  position: absolute;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 90%;
  color: #000000;
  top: 70%;
}
.div-card-7 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 255px;
  box-sizing: border-box;
  overflow: hidden;
}
.rectangle-6 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-6 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35%;
  width: 100%;
  overflow: hidden;
}
.incisivos-inferiores {
  position: absolute;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 90%;
  color: #000000;
  top: 70%;
}
.div-card-3 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 255px;
  box-sizing: border-box;
  overflow: hidden;
}
.rectangle-2 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-2 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35%;
  width: 100%;
  overflow: hidden;
}
.caninos-superiores {
  position: absolute;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 90%;
  color: #000000;
  text-transform: uppercase;
  top: 70%;
}
.area-de-estudo {
  background: #E1E7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 27px 57px 18px;
  box-sizing: border-box;
}
.div-card-8 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 255px;
  box-sizing: border-box;
  overflow: hidden;
}
.rectangle-7 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-7 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35%;
  width: 100%;
  overflow: hidden;
}
.caninos-inferiores {
  position: absolute;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 90%;
  color: #000000;
  text-transform: uppercase;
  top: 70%;
}
.div-card-4 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 255px;
  box-sizing: border-box;
  overflow: hidden;
}
.rectangle-3 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-3 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35%;
  width: 100%;
  overflow: hidden;
}
.pr-molares-superiores {
  position: absolute;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 90%;
  color: #000000;
  text-transform: uppercase;
  top: 70%;
}
.div-card-9 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 255px;
  box-sizing: border-box;
  overflow: hidden;
}
.rectangle-8 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}

.button-8 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35%;
  width: 100%;
  overflow: hidden;
}
.pr-molares-inferiores {
  position: absolute;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 90%;
  color: #000000;
  text-transform: uppercase;
  top: 70%;
}
.div-card-5 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 255px;
  box-sizing: border-box;
  overflow: hidden;
}
.rectangle-4 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-4 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35%;
  width: 100%;
  overflow: hidden;
}
.molares-superiores {
  position: absolute;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 90%;
  color: #000000;
  top: 70%;
  
}
.div-card-10 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 255px;
  box-sizing: border-box;
  overflow: hidden;
}

.rectangle-9 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-9 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35%;
  width: 100%;
  overflow: hidden;
}
.molares-inferiores {
  position: absolute;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 90%;
  color: #000000;
  top: 70%;
}
.button-11 {
  opacity: 0.5;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: relative;
  margin: 0 10px 5px 10px;
  align-self: flex-start;
  width: 100px;
  height: 50px;
}
.div-card-6 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 255px;
  box-sizing: border-box;
  overflow: hidden;
}
.rectangle-5 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-5 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35%;
  width: 100%;
  overflow: hidden;
}
.seio-maxilar {
  position: absolute;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 90%;
  color: #000000;
  text-transform: uppercase;
  top: 70%;
}
.div-card-11 {
  box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
  border-radius: 20px 40px 20px 20px;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 19px;
  width: 255px;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.rectangle-10 {
  border-radius: 20px 40px 0 0;
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/7XVqMzazD7Phbs2eZ9Jprf/assets/images/55f0f66b7c68887a5cf57aa315ad9e0b49255ab6?Expires=1712091658&KeyName=fn12-cdn&Signature=uyWxkLLlCGuT8cBBI3awauPWbWw=');
  margin-bottom: 10px;
  width: 225px;
  height: 101px;
}
.button-10 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35%;
  width: 100%;
  overflow: hidden;
}
.tecidos-moles {
  position: absolute;
  margin-right: 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 90%;
  color: #000000;
  text-transform: uppercase;
  top: 70%;
}
.line-1 {
  background: #000000;
  margin: 0 92px 37px 99px;
  width: 80%;
  height: 1px;
}
.line-2 {
  background: #000000;
  margin-left: 31px;
  width: 40%;
  height: 1px;
}

.regiões {
  margin: 0 0 34px 9px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 60px;
  color: #000000;
}
.professor-cd {
  position: relative;
  width: 700px;
  height: 78px;
  left: -150px;
  top: 20px;
  margin: 39px 0 17px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Lora';
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.uespi {
  margin: 19px 25.5px 38px 0;
  display: inline-block;
  width: 438.5px;
  overflow-wrap: break-word;
  font-family: 'Lora';
  font-weight: 500;
  font-size: 40px;
  color: #000000;
}


.container-1 {
  margin: 0 6px 62px 0;
  display: flex;
  flex-direction: row;
  column-gap: 5%;
  width: 95%;
  box-sizing: border-box;
  height: 190px;

  /*flex-wrap: wrap;*/
}
.container-3 {
  margin: 0 6px 66px 0;
  display: flex;
  flex-direction: row;
  column-gap: 5%;
  width: 95%;
  box-sizing: border-box;
  height: 190px;
  
 
 /* flex-wrap: wrap;*/
}


/* CSS RODAPÉ */
footer {
  padding: 40px 4%;
  display: flex;
  width: 100%;
  align-items: center;
  position: absolute;
}

footer a{
  text-decoration: none;
  color: #000000;
  justify-content: center;
}

footer div ul{
  list-style: none;
  font-size: 15px;
  position: relative;
  top: 50px;
  left: 70px;
  justify-content: center;
}

footer div ul li{
  display: flex;
  padding: 0 120px 0 0;
  position: relative;
  align-items:start;
  justify-content: center;
  left:0%;
  right: 50%;
}

footer .logo{
  width: 70px;
  height: auto;
  position: absolute;
  left: 85%;
  top: 10px;
}

.uespi{
  position: relative;
  margin: 19px 25.5px 38px 0;
  display: flex;
  width: 438.5px;
  overflow-wrap: break-word;
  font-family: 'Lora';
  font-weight: 500;
  font-size: 40px;
  color: #000000;
  left: -30%;
}

.conteinerFooter{
  box-shadow: 20px 20px 20px 30px #BEBEBE;
  border-radius: 0px;
  background: rgba(24, 56, 140, 0.16);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 150px;
  left: 0%;
  top: 140%;
  box-sizing: border-box;
}

@media (min-width: 760px) and (max-width: 860px) {
  .container-1{
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: space-between;
  
  }
  .div-card-1{
    height: 2000px;
  }
  .div-card-2, .div-card-3,  .div-card-4, .div-card-5, .div-card-6 {
    height: 300px;
    justify-content: space-between;
    position: relative;
    right: -15px;
    gap: 100px;
  }
   .div-card-7, .div-card-8, .div-card-9, .div-card-10, .div-card-11{
    height: 300px;
    justify-content: space-between;
    position: relative;
    left: 390px;
    top: -900px;
  }
  .container-3{
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: space-between;
    position: relative;
    right: 0%;
  }
  header nav ul li{
    padding: 0 10px 0 0;
  }

}

@media (max-width: 920px) {

  header nav ul li{
    font-size: 25px;
    padding: 0 50px 0 0;
    left: -10%;
  }
  .logo{
    left: 4%;
  }
  .container-1, .container-3 {
    height: 110px;
    width: 100%;
    column-gap: 3%;
  }

  .incisivos-superiores, .incisivos-inferiores, .caninos-superiores, .caninos-inferiores, .molares-superiores, .molares-inferiores, .pr-molares-superiores, .pr-molares-inferiores, .seio-maxilar, .tecidos-moles {
    font-size: 70%;
  }

  .regiões{
    font-size: 40px;
  }

  .conteinerFooter{
    top: 320%;
  }
  footer .logo{
    left: 80%;
  }

  .uespi{
    left: -15%;
    font-size: 30px;
  }
}
@media (max-width: 1600px) {
  .container-1, .container-3 {
    height: 160px;
  }
}
@media (max-width: 1300px) {
  .container-1, .container-3 {
    height: 150px;
  }
}
@media (max-width: 1200px) {
  .container-1, .container-3 {
    height: 130px;
  }

  .incisivos-superiores, .incisivos-inferiores, .caninos-superiores, .caninos-inferiores, .molares-superiores, .molares-inferiores, .pr-molares-superiores, .pr-molares-inferiores, .seio-maxilar, .tecidos-moles {
    font-size: 50%;
  }

  .uespi{
    left: -20%;
    font-size: 30px;
  }
  .logo{
    left: 4%;
  }
  header nav ul li{
    font-size: 25px;
    padding: 0 70px 0 0;
    left: -10%;
  }
}