.login .sobre-osite {
  position: relative;
  margin: 0 0.1rem 3.5rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 1.714;
  color: #000000;
}
.login .criacao-sites-sao-paulo-1 {
  background: url('../assets/images/criacaoSitesSaoPaulo1.png') 50% / cover no-repeat;
  width: 21.4rem;
  height: 16.5rem;
}
.login .div-card {
  box-shadow: -1.3rem 1.3rem 3.8rem 0rem #BEBEBE;
  border-radius: 1.3rem 1.3rem 3.1rem 3.1rem;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.6rem 1.1rem 0.8rem 0.9rem;
  width: 24.5rem;
  box-sizing: border-box;
}
.login .button {
  opacity: 0.3;
  box-shadow: 0rem 0rem 1.3rem 0rem rgba(71, 184, 255, 0.5), 0rem 0.3rem 0.3rem -0.1rem rgba(58, 125, 233, 0.25), inset 0.3rem 0.3rem 0.5rem 0rem rgba(175, 230, 255, 0.5), inset -0.3rem -0.3rem 0.5rem 0rem rgba(19, 95, 216, 0.35);
  border-radius: 1.3rem;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: 0rem;
  height: 4.9rem;
}
.login .questionrios {
  position: relative;
  margin: 0 0 1.9rem 0.2rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 1.714;
  color: #000000;
}
.login .pngtree-questionnaire-image-2236840-removebg-preview-1 {
  background: url('../assets/images/pngtreeQuestionnaireImage2236840RemovebgPreview1.png') 50% / cover no-repeat;
  width: 22.5rem;
  height: 22.5rem;
}
.login .div-card-1 {
  box-shadow: -1.3rem 1.3rem 3.8rem 0rem #BEBEBE;
  border-radius: 1.3rem 1.3rem 3.1rem 3.1rem;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.6rem 0 2.8rem 0;
  width: 24.5rem;
  box-sizing: border-box;
}
.login .button-1 {
  opacity: 0.3;
  box-shadow: 0rem 0rem 1.3rem 0rem rgba(71, 184, 255, 0.5), 0rem 0.3rem 0.3rem -0.1rem rgba(58, 125, 233, 0.25), inset 0.3rem 0.3rem 0.5rem 0rem rgba(175, 230, 255, 0.5), inset -0.3rem -0.3rem 0.5rem 0rem rgba(19, 95, 216, 0.35);
  border-radius: 1.3rem;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: 0rem;
  height: 4.9rem;
}
.login {
  background: #E1E7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90rem;
  box-sizing: border-box;
}
.login .rea-de-estudos {
  position: relative;
  margin: 0 0.1rem 2.1rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 1.714;
  color: #000000;
}
.login .desenho-mao-de-um-dentista-em-uma-luva-azul-que-segura-um-raio-xdental-de-dente-para-deteccao-de-doencas-vetor-removebg-preview-1 {
  background: url('../assets/images/desenhoMaoDeUmDentistaEmUmaLuvaAzulQueSeguraUmRaioXdentalDeDenteParaDeteccaoDeDoencasVetorRemovebgPreview1.png') 50% / cover no-repeat;
  width: 30.8rem;
  height: 20.4rem;
}
.login .div-card-2 {
  box-shadow: -1.3rem 1.3rem 3.8rem 0rem #BEBEBE;
  background: rgba(24, 56, 140, 0.16);
  margin-bottom: 6.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.6rem 0 1rem 4rem;
  width: 90rem;
  box-sizing: border-box;
}
.login .anatomia-em-radiografias-periapicais {
  margin: 2.9rem 0 2rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 3.1rem;
  color: #000000;
}
.login .imagem-202402042102066053 {
  background: url('../assets/images/imagem202402042102066053.png') 50% / cover no-repeat;
  width: 5.7rem;
  height: 8.8rem;
}
.login .div-card-3 {
  box-shadow: -1.3rem 1.3rem 3.8rem 0rem #BEBEBE;
  background: rgba(24, 56, 140, 0.16);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 4.9rem 3.8rem 3.1rem;
  width: 90.6rem;
  box-sizing: border-box;
}
.login .odontologia-uespi {
  margin: 3.1rem 2.4rem 2.1rem 0;
  display: inline-block;
  width: 26.3rem;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Lora';
  font-weight: 500;
  font-size: 1.9rem;
  color: #000000;
}
.login .imagem-202402042102066052 {
  background: url('../assets/images/imagem202402042102066053.png') 50% / cover no-repeat;
  width: 6.4rem;
  height: 9.9rem;
}
.login .professor-dr-carlos-alberto-monteiro-falco-cd-mrio-gomes-de-souza {
  margin: 3.9rem 0 2.8rem 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Lora';
  font-weight: 500;
  font-size: 1.3rem;
  color: #000000;
}
.login .div-card-4 {
  box-shadow: -1.3rem 1.3rem 3.8rem 0rem #BEBEBE;
  border-radius: 1.3rem 1.3rem 3.1rem 3.1rem;
  background: #E0E0E0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.6rem 1.6rem 5.3rem 1.6rem;
  width: 24.5rem;
  box-sizing: border-box;
}
.login .button-2 {
  opacity: 0.3;
  box-shadow: 0rem 0rem 1.3rem 0rem rgba(71, 184, 255, 0.5), 0rem 0.3rem 0.3rem -0.1rem rgba(58, 125, 233, 0.25), inset 0.3rem 0.3rem 0.5rem 0rem rgba(175, 230, 255, 0.5), inset -0.3rem -0.3rem 0.5rem 0rem rgba(19, 95, 216, 0.35);
  border-radius: 1.3rem;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: 0rem;
  height: 4.9rem;
}
.login .container {
  margin: 0 2.6rem 4rem 3.9rem;
  display: flex;
  flex-direction: row;
  column-gap: 5rem;
  width: 83.5rem;
  box-sizing: border-box;
}