.estruturas {
    background: #E1E7F7;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 35px 23px 30px 22px;
    width: 100%;
    box-sizing: border-box;
  }
  .div-card {
    box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
    border-radius: 50px;
    background: #E0E0E0;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 41px 17px 14px 18px;
    width: fit-content;
    box-sizing: border-box;
  }
  .button {
    opacity: 0.5;
    box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
    border-radius: 20px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    width: 80px;
    height: 50px;
    position: relative;
    overflow: hidden;
  }
  .arrow-left {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
    border-top-right-radius: 5px;
  }
  .button-1 {
    opacity: 0.5;
    box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
    border-radius: 20px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    width: 80px;
    height: 50px;
  }
  .line-7 {
    background: #000000;
    margin: 46px 0 3px 0;
    width: 764px;
    height: 1px;
  }
  .estruturas-radiolcidas {
    margin: 0 50.9px 31px 50.9px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 40px;
    color: #000000;
  }
  .estruturas-radiopacas {
    margin: 0 56.2px 29px 56.2px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 40px;
    color: #000000;
  }
  .line-6 {
    background: #000000;
    margin: 0 0 28px 1px;
    align-self: center;
    width: 700px;
    height: 1px;
  }
  .incisivos-superiores {
    margin-right: 36.5px;
    width: 907.4px;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 60px;
    color: #000000;
  }
  .button-2 {
    border-radius: 20px;
    background: #A00505;
    position: relative;
    margin: 5px 0 14.7px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17.4px 16.7px 16px 16.7px;
    width: 53.3px;
    height: 53.3px;
    box-sizing: border-box;
}
    .span,
    .span-3 {
    background: #FFFFFF;
    position: absolute;
    width: 19.9px;
    height: 2px;
}
    .span {
    transform: rotate(45deg);
    top: 50%;
    left: 32%;
    transform-origin: center; 
}
    .span-3 {
    transform: rotate(-45deg);
    top: 50%;
    left: 32%;
    transform-origin: center; 
}
  .professor-dr-carlos-alberto-monteiro-falco-cd-mrio-gomes-de-souza {
    margin: 39px 0 17px 0;
    display: inline-block;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 500;
    font-size: 20px;
    color: #000000;
  }
  .imagem-202402042102066051 {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/fe903642f54c5577471c15a719851cb1f41ba707?Expires=1712100384&KeyName=fn12-cdn&Signature=Kz48py_V4bSJ85gRrG9wgCCkJSY=') 50% / cover no-repeat;
    width: 70px;
    height: 108px;
  }
  .uespi {
    margin: 33px 25.5px 24px 0;
    display: inline-block;
    width: 420.5px;
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 500;
    font-size: 40px;
    color: #000000;
  }
  .rectangle-7216 {
    border-radius: 40px 40px 0 0;
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .div-card-4 {
    box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
    border-radius: 40px 40px 20px 20px;
    background: #E0E0E0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8px;
    box-sizing: border-box;
  }
  .button-5 {
    opacity: 0.2;
    box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
    border-radius: 0 0 20px 20px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 55px;
  }
  .sutura-palatina-mediana {
    position: relative;
    margin: 0 7.9px 0 11.9px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .rectangle-72166 {
    border-radius: 40px 40px 0 0;
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
    margin-bottom: 11px;
    width: 145px;
    height: 148px;
    left: 100px;
  }
  .div-card-7 {
    box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
    border-radius: 40px 40px 20px 20px;
    background: #E0E0E0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8px;
    box-sizing: border-box;
  }
  .button-8 {
    opacity: 0.2;
    box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
    border-radius: 0 0 20px 20px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 55px;
  }
  .sutura-palatina-mediana-9 {
    position: relative;
    margin: 0 7.9px 0 11.9px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .rectangle-721610 {
    border-radius: 40px 40px 0 0;
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
    margin-bottom: 11px;
    width: 145px;
    height: 148px;
  }
  .div-card-11 {
    box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
    border-radius: 40px 40px 20px 20px;
    background: #E0E0E0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8px;
    box-sizing: border-box;
  }
  .button-12 {
    opacity: 0.2;
    box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
    border-radius: 0 0 20px 20px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 55px;
  }
  .sutura-palatina-mediana-13 {
    position: relative;
    margin: 0 7.9px 0 11.9px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .rectangle-721614 {
    border-radius: 40px 40px 0 0;
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
    margin-bottom: 11px;
    width: 145px;
    height: 148px;
  }
  .div-card-15 {
    box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
    border-radius: 40px 40px 20px 20px;
    background: #E0E0E0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8px;
    box-sizing: border-box;
  }
  .button-16 {
    opacity: 0.2;
    box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
    border-radius: 0 0 20px 20px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 55px;
  }
  .sutura-palatina-mediana-17 {
    position: relative;
    margin: 0 7.9px 0 11.9px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .rectangle-721618 {
    border-radius: 40px 40px 0 0;
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
    margin-bottom: 11px;
    width: 145px;
    height: 148px;
  }
  .div-card-19 {
    box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
    border-radius: 40px 40px 20px 20px;
    background: #E0E0E0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8px;
    box-sizing: border-box;
  }
  .button-20 {
    opacity: 0.2;
    box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
    border-radius: 0 0 20px 20px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 55px;
  }
  .sutura-palatina-mediana-21 {
    position: relative;
    margin: 0 7.9px 0 11.9px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .rectangle-721622 {
    border-radius: 40px 40px 0 0;
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
    margin-bottom: 11px;
    width: 145px;
    height: 148px;
  }
  .div-card-23 {
    box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
    border-radius: 40px 40px 20px 20px;
    background: #E0E0E0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8px;
    box-sizing: border-box;
  }
  .button-24 {
    opacity: 0.2;
    box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
    border-radius: 0 0 20px 20px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 55px;
  }
  .sutura-palatina-mediana-25 {
    position: relative;
    margin: 0 7.9px 0 11.9px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .rectangle-721626 {
    border-radius: 40px 40px 0 0;
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
    margin-bottom: 11px;
    width: 145px;
    height: 148px;
  }
  .div-card-27 {
    box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
    border-radius: 40px 40px 20px 20px;
    background: #E0E0E0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8px;
    box-sizing: border-box;
  }
  .button-28 {
    opacity: 0.2;
    box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
    border-radius: 0 0 20px 20px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 55px;
  }
  .sutura-palatina-mediana-29 {
    position: relative;
    margin: 0 7.9px 0 11.9px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .rectangle-721630 {
    border-radius: 40px 40px 0 0;
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
    margin-bottom: 11px;
    width: 145px;
    height: 148px;
  }
  .div-card-31 {
    box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
    border-radius: 40px 40px 20px 20px;
    background: #E0E0E0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8px;
    box-sizing: border-box;
  }
  .button-32 {
    opacity: 0.2;
    box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
    border-radius: 0 0 20px 20px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 55px;
  }
  .sutura-palatina-mediana-33 {
    position: relative;
    margin: 0 7.9px 0 11.9px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .rectangle-721634 {
    border-radius: 40px 40px 0 0;
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
    margin-bottom: 11px;
    width: 145px;
    height: 148px;
  }
  .div-card-35 {
    box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
    border-radius: 40px 40px 20px 20px;
    background: #E0E0E0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8px;
    box-sizing: border-box;
  }
  .button-36 {
    opacity: 0.2;
    box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
    border-radius: 0 0 20px 20px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 55px;
  }
  .sutura-palatina-mediana-37 {
    position: relative;
    margin: 0 7.9px 0 11.9px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .rectangle-721638 {
    border-radius: 40px 40px 0 0;
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
    margin-bottom: 11px;
    width: 145px;
    height: 148px;
  }
  .div-card-39 {
    box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
    border-radius: 40px 40px 20px 20px;
    background: #E0E0E0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8px;
    box-sizing: border-box;
  }
  .button-40 {
    opacity: 0.2;
    box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
    border-radius: 0 0 20px 20px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 55px;
  }
  .sutura-palatina-mediana-41 {
    position: relative;
    margin: 0 7.9px 0 11.9px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .rectangle-721642 {
    border-radius: 40px 40px 0 0;
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/BK5n9Pc5fsSdJnkYtBeL1N/assets/images/6f1e0f9cad31a524935da1dcaa6291f644bdbc3b?Expires=1712100384&KeyName=fn12-cdn&Signature=xTu3SDcDlNJEJPasB5Z47ZWwlL4=');
    margin-bottom: 11px;
    width: 145px;
    height: 148px;
  }
  .div-card-43 {
    box-shadow: 20px 20px 60px 0px #BEBEBE, -20px -20px 60px 0px #FFFFFF;
    border-radius: 40px 40px 20px 20px;
    background: #E0E0E0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8px;
    box-sizing: border-box;
  }
  .button-44 {
    opacity: 0.2;
    box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5), inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
    border-radius: 0 0 20px 20px;
    background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 55px;
  }
  .sutura-palatina-mediana-45 {
    position: relative;
    margin: 0 7.9px 0 11.9px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .container {
    margin: 0 59px 29px 56px;
    display: flex;
    flex-direction: row;
    column-gap: 75px;
    width: fit-content;
    box-sizing: border-box;
  }
  .container-46 {
    margin: 0 112px 14px 99px;
    display: flex;
    flex-direction: row;
    column-gap: 106px;
    width: fit-content;
    box-sizing: border-box;
  }
  .container-47 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1360px;
    box-sizing: border-box;
  }
  .container-48 {
    margin: 0 73px 0 30.1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1291.9px;
    box-sizing: border-box;
  }
  .container-49 {
    margin: 0 8.7px 7px 8.7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 997.2px;
    box-sizing: border-box;
  }