/* CABEÇALHO */
* {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(58, 54, 54);
  text-decoration: none;
  display: flex;
  transition: 0.2s;
  font-family: "Montserrat", sans-serif;
}

a:hover {
  color: rgb(3, 3, 3);
  transform: scale(1.05);
}

header {
  padding: 40px 4%;
  display: flex;
  width: 100%;
  z-index: 99;
}

header .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header nav ul {
  list-style: none;
  font-size: 200%;
  position: relative;
  margin-top: 18px;
  left: 250px;
  margin-left: -38%;
}

header nav ul li {
  display: inline-block;
  padding: 0 120px 0 0;
  position: relative;
}

.logo {
  width: 70px;
  height: auto;
  position: absolute;
  left: 5%;
  transform: translateX(-50%);
  top: 10px;
}

.conteinerHeader {
  box-shadow: -20px 20px 60px 0px #bebebe;
  border-radius: 0px;
  background: rgb(157, 169, 204);
  /* Mudança da cor do fundo */
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 150px;
  left: 0%;
  top: 0%;
  box-sizing: border-box;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (min-width: 30px) and (max-width: 430px) {
  body {
    overflow-x: hidden;
  }

  header .interface {
    flex-direction: row;
    /* Alteração para manter o menu à esquerda */
    justify-content: flex-start;
    /* Ajuste para alinhar à esquerda */
    margin-top: -15px;
  }

  header .logo {
    position: relative;
    left: 10%;
    top: 0;
    margin: 0 auto;
    /* Centraliza a logo horizontalmente */
    transform: none;
  }

  header nav ul {
    position: absolute;
    top: 8vh;
    right: 0;
    left: 15px;
    width: 100vw;
    height: 92vh;
    background: rgba(117, 138, 182, 0.16);
    /* Mudança da cor do fundo */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  header nav ul li {
    margin-left: 12%;
    opacity: 0;
    font-size: 20px;
    gap: 100px;
    margin-top: 20%;
  }

  .mobile-menu {
    display: block;
    position: relative;
    margin-left: 20px;
    /* Espaçamento à esquerda para o menu */
    margin-top: 0%;
  }
}

.nav-list {
  top: 88%;
  left: 40%;
  background: rgb(157, 169, 204);
  left: 65%;
}

.nav-list.active {
  transform: translateX(0);
  top: 88%;
  background: rgb(157, 169, 204);
  left: 65%;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 1300px) {
  .nav-list {
    font-size: 25px;
  }
}

@media (min-width: 440px) and (max-width: 1180px) {
  body {
    overflow-x: hidden;
  }

  header .interface {
    flex-direction: row;
    /* Alteração para manter o menu à esquerda */
    justify-content: flex-start;
    /* Ajuste para alinhar à esquerda */
    margin-top: -15px;
  }

  header .logo {
    position: relative;
    left: 8%;
    top: 0;
    margin: 0 auto;
    /* Centraliza a logo horizontalmente */
    transform: none;
  }

  header nav ul {
    position: absolute;
    top: 8vh;
    right: 0;
    left: 350px;
    width: 100vw;
    height: 92vh;
    background: rgba(117, 138, 182, 0.16);
    /* Mudança da cor do fundo */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .line-2 {
    display: none;
  }

  header nav ul li {
    margin-left: 12%;
    opacity: 0;
    font-size: 30px;
    margin-top: 20%;
    justify-items: center;
  }

  .mobile-menu {
    display: block;
    position: relative;
    margin-left: 20px;
    /* Espaçamento à esquerda para o menu */
    margin-top: 0%;
  }

  .nav-list {
    top: 88%;
    width: 550px;
    left: 95%;
    margin-left: -35%;
  }

  .nav-list.active {
    transform: translateX(0);
    top: 88%;
    left: 90%;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .mobile-menu.active .line2 {
    opacity: 0;
  }

  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
}

/* CSS main */
* {
  margin: 0;
  padding: 0;
}

button {
  border: transparent;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  transition: 0.2s;
  opacity: 40%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}

body {
  background-color: #e1e7f7;
}

.molaressuperior {
  background: #e1e7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 22px 27px 57px 18px;
  box-sizing: border-box;
  margin-top: 180px;
  margin-bottom: 40px;
  z-index: 9;
}


.button-1,
.button-2,
.button-3,
.button-4,
.button-5,
.button-6,
.button-7,
.button-8,
.button-9,
.button-10 {
  opacity: 0.2;
  box-shadow: 0px 0px 20px 0px rgba(71, 184, 255, 0.5),
    0px 5px 5px -1px rgba(58, 125, 233, 0.25),
    inset 4px 4px 8px 0px rgba(175, 230, 255, 0.5),
    inset -4px -4px 8px 0px rgba(19, 95, 216, 0.35);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(276.7deg,
      #18388c 24.26%,
      #18388c 56.1%,
      #1f75ff 82.31%);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 55px;
}

.button-11,
.button-12 {
  display: inline-flex;
  opacity: 0.2;
  border-radius: 20px;
  background: linear-gradient(276.7deg, #18388C 24.26%, #18388C 56.1%, #1F75FF 82.31%);
  margin: 0 15px;
  align-self: flex-start;
  width: 95px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.bnt-anterior,
.bnt-proximo {
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  display: flex;
  height: 50px;

}

.bnt-prox,
.bnt-ant {
  font-size: 15px;
  position: absolute;
  margin: 10px;
  justify-content: center;
  text-align: center;
  color: #000000;
  font-family: "Montserrat";
  font-weight: 600;

}


.molaressuperior .container-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
}

.molaressuperior .div-card {
  box-shadow: 20px 20px 60px 0px #bebebe, -20px -20px 60px 0px #ffffff;
  border-radius: 50px;
  background: #e0e0e0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 59px 22px 21px 22px;
  width: 98%;
  margin: 0 auto;
  box-sizing: border-box;
}

.molaressuperior .div-card-1,
.div-card-2,
.div-card-3,
.div-card-4,
.div-card-5,
.div-card-6,
.div-card-7,
.div-card-8,
.div-card-9,
.div-card-10 {
  box-shadow: 20px 20px 60px 0px #bebebe, -20px -20px 60px 0px #ffffff;
  border-radius: 40px 40px 20px 20px;
  background: #e0e0e0;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 180px;
  align-items: center;
  padding-bottom: 8px;
  box-sizing: border-box;
  overflow: hidden;
}



.molaressuperior .seio-maxilar,
.fossa-nasal,
.processo-zigomtico-da-maxila,
.osso-zigomtico,
.processo-pterigideo,
.hmulo-pterigideo,
.processo-coronide-da-mandbula,
.assoalho-do-seio-maxilar,
.assoalho-da-fossa-nasal,
.tber-maxilar {
  position: absolute;
  margin: 10px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 75%;
  color: #000000;
  top: 70%;
}

.molaressuperior .rectangle-1 {
  border-radius: 40px 40px 0 0;
  background: url("../assets/img/MolareSuperior/mosupmar/assm-seio.jpeg");
  margin-bottom: 11px;
  width: 145px;
  height: 125px;
  left: 100px;
  background-size: cover;
}


.molaressuperior .rectangle-2 {
  border-radius: 40px 40px 0 0;
  background: url("../assets/img/MolareSuperior/mosupmar/fossa-assfn.jpeg");
  margin-bottom: 11px;
  width: 145px;
  height: 125px;
  left: 100px;
  background-size: cover;
}


.molaressuperior .rectangle-3 {
  border-radius: 40px 40px 0 0;
  background: url("../assets/img/MolareSuperior/mosupmar/osszig-prcoro1-przimax.jpeg");
  margin-bottom: 11px;
  width: 145px;
  height: 125px;
  left: 100px;
  background-size: cover;
}

.molaressuperior .rectangle-4 {
  border-radius: 40px 40px 0 0;
  background: url("../assets/img/MolareSuperior/mosupmar/osszig-prcoro1-przimax.jpeg");
  margin-bottom: 11px;
  width: 145px;
  height: 125px;
  left: 100px;
  background-size: cover;
}

.molaressuperior .rectangle-5 {
  border-radius: 40px 40px 0 0;
  background: url("../assets/img/MolareSuperior/mosupmar/Processo_Pterigoide_1.png");
  margin-bottom: 11px;
  width: 145px;
  height: 125px;
  left: 100px;
  background-size: cover;
}

.molaressuperior .rectangle-6 {
  border-radius: 40px 40px 0 0;
  background: url('../assets/img/MolareSuperior/mosupmar/Hamulo.png');
  margin-bottom: 11px;
  width: 145px;
  height: 125px;
  left: 100px;
  background-size: cover;
}

.molaressuperior .rectangle-7 {
  border-radius: 40px 40px 0 0;
  background: url("../assets/img/MolareSuperior/mosupmar/osszig-prcoro1-przimax.jpeg");
  margin-bottom: 11px;
  width: 145px;
  height: 125px;
  left: 100px;
  background-size: cover;
}

.molaressuperior .rectangle-8 {
  border-radius: 40px 40px 0 0;
  background: url("../assets/img/MolareSuperior/mosupmar/assm-seio.jpeg");
  margin-bottom: 11px;
  width: 145px;
  height: 125px;
  left: 100px;
  background-size: cover;
}

.molaressuperior .rectangle-9 {
  border-radius: 40px 40px 0 0;
  background: url("../assets/img/MolareSuperior/mosupmar/fossa-assfn.jpeg");
  margin-bottom: 11px;
  width: 145px;
  height: 125px;
  left: 100px;
  background-size: cover;
}

.molaressuperior .rectangle-10 {
  border-radius: 40px 40px 0 0;
  background: url("../assets/img/MolareSuperior/mosupmar/tuber.jpeg");
  margin-bottom: 11px;
  width: 145px;
  height: 125px;
  left: 100px;
  background-size: cover;
}

.line-2 {
  background: #000000;
  margin: 46px 0 3px 0;
  width: 764px;
  height: 1px;
}

.molaressuperior .estruturas-radiolcidas {
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 25px;
  color: #000000;
  margin: 35px 0 35px 1px;
}

.molaressuperior .estruturas-radiopacas {
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 25px;
  color: #000000;
  margin: 35px 0 35px 1px;

}

.molaressuperior .line-1 {
  background: #000000;
  margin: 0 0 28px 1px;
  align-self: center;
  width: 700px;
  height: 1px;
}

.molaressuperior .molares-superiores {
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 45px;
  color: #000000;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.molaressuperior .span {
  background: #FFFFFF;
  transform: rotate(45deg);
  position: relative;
  width: 19.9px;
  height: 19.9px;
}

.molaressuperior .imagem-202402042102066051 {
  background: url('../assets/images/imagem202402042102066051.png') 50% / cover no-repeat;
  width: 70px;
  height: 108px;
}


.molaressuperior .container-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.container-5 {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
  padding-bottom: 20px;
}

.container-3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
  padding-bottom: 30px;
}

.container-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-around;
  padding-bottom: 20px;
}

@media (max-width: 361px) {
  .line-2 {
    display: none;
  }

  .line-1 {
    margin: 0;
  }

  .div-card-1,
  .div-card-2,
  .div-card-3,
  .div-card-4,
  .div-card-5,
  .div-card-6,
  .div-card-7,
  .div-card-8,
  .div-card-9,
  .div-card-10 {
    margin-bottom: 30px;
  }

  .div-card {
    padding: 15px;
  }

  .container-1 span.molares-superiores {
    font-size: 35px;
  }

  .container-2,
  .container-3,
  .container-4,
  .container-5 {
    justify-content: space-between;
  }

  .molaressuperior {
    grid-template-columns: 1fr;
    padding: 15px;
  }

  body,
  main {
    width: 361px;
    height: auto;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

}

@media (max-width: 391px) {

  .line-2 {
    display: none;
  }

  .line-1 {
    margin: 0;
  }

  .div-card-1,
  .div-card-2,
  .div-card-3,
  .div-card-4,
  .div-card-5,
  .div-card-6,
  .div-card-7,
  .div-card-8,
  .div-card-9,
  .div-card-10 {
    margin-bottom: 30px;
  }

  .div-card {
    margin-bottom: 30px;
    /* Ajuste este valor conforme necessário */
  }

  .container-1 span.molares-superiores {
    font-size: 35px;
  }

  .container-2,
  .container-3,
  .container-4,
  .container-5 {
    justify-content: space-between;
  }

  .molaressuperior {
    grid-template-columns: 1fr;
    padding: 15px;
  }

  body,
  main {
    width: 391px;
    height: auto;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

}

@media (max-width: 768px) {
  .line-2 {
    display: none;
  }

  .line-1 {
    margin: 0;
  }

  .molares-superiores {
    font-size: 15px;
  }

  .div-card-1,
  .div-card-2,
  .div-card-3,
  .div-card-4,
  .div-card-5,
  .div-card-6,
  .div-card-7,
  .div-card-8,
  .div-card-9,
  .div-card-10 {
    margin-bottom: 30px;
  }

  .div-card {
    margin-bottom: 30px;
    /* Ajuste este valor conforme necessário */
  }
}

@media (max-width: 480px) {
  .line-2 {
    display: none;
  }

  .line-1 {
    margin: 0;
  }

  .container-1 span.molares-superiores {
    font-size: 35px;
  }

  .div-card-1,
  .div-card-2,
  .div-card-3,
  .div-card-4,
  .div-card-5,
  .div-card-6,
  .div-card-7,
  .div-card-8,
  .div-card-9,
  .div-card-10 {
    margin-bottom: 30px;
    justify-content: space-between;
  }

  .molaressuperior {
    grid-template-columns: 1fr;
    padding: 15px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@media (max-width: 884px) {
  .line-2 {
    display: none;
  }

  .line-1 {
    margin: 0;
  }

  .container-1 span.molares-superiores {
    font-size: 35px;
  }
}

/* CSS FOOTER */
footer {
  display: flex;
  width: 100%;
  height: 100px;
  margin-right: 0;
}

footer a {
  text-decoration: none;
  color: #000000;
  justify-content: center;
}

footer div ul {
  list-style: none;
  font-size: 15px;
  position: relative;
  top: 50px;
  left: 70px;
  justify-content: center;
}

footer div ul li {
  display: flex;
  padding: 0 120px 0 0;
  position: relative;
  align-items: start;
  justify-content: center;
  left: 0%;
  right: 50%;
}

footer div.logo {
  width: 130px;
  height: 100px;
  margin-bottom: 15px;
  margin-right: 0;
  left: 0;
}

footer .logo {
  width: 60%;
  height: 80%;
  position: relative;
}

.uespi {
  position: relative;
  display: flex;
  width: 125px;
  height: 100px;
  overflow-wrap: break-word;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #000000;
}

footer div.uespi {
  display: flex;
  width: 125px;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}

footer .menu-desktop-footer {
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}

footer div.nomes-p-a {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  ;
}

.conteinerFooter {
  box-shadow: 20px 20px 20px 30px #bebebe;
  border-radius: 0px;
  background: rgba(24, 56, 140, 0.16);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 110px;
  left: 0%;
  top: 140%;
  box-sizing: border-box;
}

@media (max-width: 999px) {
  footer .conteinerFooter {
    flex-direction: row-reverse;
    align-items: center;
  }

  footer .logo img {
    width: 50px;
    height: 60px;
    left: 60px;
    margin-top: 10px;
  }

  .uespi {
    font-size: 18px;
    left: -20px;
  }

  .menu-desktop-footer {
    position: relative;
    margin-left: -10px;
  }

  footer .nomes-p-a p {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  footer .logo img {
    width: 60px;
  }

  .uespi {
    font-size: 16px;
  }

  footer .nomes-p-a p {
    font-size: 12px;
  }
}

.modal-estrutura {
  border-radius: 50px;
  background: #E0E0E0;
  flex-direction: column;
  align-items: center;
  padding: 22px 22.7px 24px 22.7px;
  width: 80%;
  max-width: 1236px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.janela-modal-estrutura {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000080;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.janela-modal-estrutura.abrir {
  display: flex;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.modal-header h2 {
  margin: 0;
  font-size: 45px;
  color: #000000;
}

.close-btn {
  background: #90A2DA;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5px;
}

.modal-content {
  text-align: center;
}

.modal-content h3 {
  margin-top: 20px;
  font-size: 30px;
  color: #000000;
}

.image-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.image-buttons button {
  width: 53.3px;
  height: 53.3px;
  background-color: #90A2DA;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-buttons button:hover {
  background-color: #7686CB;
}

.image-container {
  margin-top: 20px;
}

.image-container img {
  max-width: 100%;
  border-radius: 10px;
  height: 200px;
  cursor: pointer;
}

.modal-footer {
  margin-top: 20px;
  text-align: justify;
  height: 200px;
  overflow-y: auto;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  color: #000000;
}



/* Custom scrollbar styles */
.modal-footer::-webkit-scrollbar {
  width: 6px;
}

.modal-footer::-webkit-scrollbar-track {
  background: #E0E0E0;
  border-radius: 10px;
}

.modal-footer::-webkit-scrollbar-thumb {
  background-color: #95969a;
  border-radius: 10px;
  border: 0px solid #f0f0f0;
}

/* Navigation buttons */
.nav-btn {
  background: #90A2DA;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;

}

.bnt-1,
.bnt-2 {
  background: #90A2DA;

}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

@media (max-width: 768px) {
  .modal-estrutura {
    width: 90%;
    padding: 20px;
  }

  .modal-header h2 {
    font-size: 35px;
  }

  .modal-content h3 {
    font-size: 25px;
  }

  .image-buttons button {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  .modal-footer {
    font-size: 25px;
  }

  .nav-btn {
    width: 35px;
    height: 35px;
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  .modal-estrutura {
    width: 95%;
    padding: 15px;
  }

  .modal-header h2 {
    font-size: 28px;
  }

  .close-btn {
    font-size: 24px;
    width: 35px;
    height: 35px;
    right: 5px;
  }

  .modal-content h3 {
    font-size: 20px;
  }

  .image-buttons button {
    width: 35px;
    height: 35px;
    font-size: 14px;
  }

  .modal-footer {
    font-size: 20px;
    height: 150px;
  }

  .nav-btn {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }

  .janela-modal-estrutura {
    width: 100%;
    height: 100%;
  }
}

.janela-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000080;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  width: 60%;
  min-width: 300px;
  min-height: 200px;
  background-color: #ffffff;
  backdrop-filter: blur(10px);
  padding: 20px;
  /* Reduzi o padding geral */
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  /* Adicionado para evitar overflow */
}

.conteudo {
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
}

.fechar {
  position: absolute;
  top: 10px;
  /* Ajustado para uma melhor visualização */
  right: 10px;
  /* Ajustado para uma melhor visualização */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  background: #90A2DA;
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.janela-modal.abrir {
  display: flex;
}

/* Responsividade */
@media (max-width: 768px) {
  .modal {
    width: 80%;
    padding: 15px;
    /* Reduzi o padding para tablets */
  }

  .fechar {
    width: 25px;
    height: 25px;
    font-size: 18px;
    top: 5px;
    right: 5px;
  }
}

@media (max-width: 480px) {
  .modal {
    width: 90%;
    padding: 10px;
    /* Reduzi o padding para celulares */
    min-width: 150px;
    /* Ajustei o tamanho mínimo para telas menores */
  }

  .fechar {
    width: 20px;
    height: 20px;
    font-size: 16px;
    top: 5px;
    right: 5px;
  }

  .janela-modal {
    width: 100%;
    height: 100%;
  }
}