* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: rgb(58, 54, 54);
    text-decoration: none;
    display: flex;
    transition: 0.2s;
    font-family: 'Montserrat', sans-serif;
  }
  
  a:hover {
    color: rgb(3, 3, 3);
    transform: scale(1.05);
  }
  
  header {
    padding: 40px 4%;
    display: flex;
    width: 100%;
  }
  
  header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  header nav ul {
    list-style: none;
    font-size: 200%;
    position: relative;
    margin-top: 18px;
    left: 250px;
  }
  
  header nav ul li {
    display: inline-block;
    padding: 0 120px 0 0;
    position: relative;

  }
  
  .logo {
    width: 70px;
    height: auto;
    position: absolute;
    left: 5%;
    transform: translateX(-50%);
    top: 10px;
  }
  
  .conteinerHeader {
    box-shadow: -20px 20px 60px 0px #BEBEBE;
    border-radius: 0px;
    background: rgba(24, 56, 140, 0.16); /* Mudança da cor do fundo */
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 150px;
    left: 0%;
    top: 0%;
    box-sizing: border-box;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 430px) {
   
    body {
      overflow-x: hidden;
    }
    header .interface {
      flex-direction: row; /* Alteração para manter o menu à esquerda */
      justify-content: flex-start; /* Ajuste para alinhar à esquerda */
      margin-top: -15px;
      
    }
    header .logo {
      position: relative;
      left: 10%;
      top: 0;
      margin: 0 auto; /* Centraliza a logo horizontalmente */
      transform: none;
    }
    header nav ul {
      position: absolute;
      top: 8vh;
      right: 0;
      left: 150px;
      width: 100vw;
      height: 92vh;
      background: rgba(117, 138, 182, 0.16); /* Mudança da cor do fundo */
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;

    }
    header nav ul li {
      margin-left: 12%;
      opacity: 0;
      font-size: 17px;
      gap: 100px;
      margin-top: 20%;

    }
    .mobile-menu {
      display: block;
      position: relative;
      margin-left: 20px; /* Espaçamento à esquerda para o menu */
      margin-top: 0%;
    }

    }
    .nav-list {
        top: 88%;
        left: 40%;
    }
    .nav-list.active {
        transform: translateX(0);
        top: 88%;
    }
    
    @keyframes navLinkFade {
        from {
        opacity: 0;
        transform: translateX(50px);
        }
        to {
        opacity: 1;
        transform: translateX(0);
        }
    }
    
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
        opacity: 0;
    }
    
    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }

@media (min-width: 440px) and (max-width: 1180px) {
   
    body {
      overflow-x: hidden;
    }
    header .interface {
      flex-direction: row; /* Alteração para manter o menu à esquerda */
      justify-content: flex-start; /* Ajuste para alinhar à esquerda */
      margin-top: -15px;
      
    }
    header .logo {
      position: relative;
      left: 8%;
      top: 0;
      margin: 0 auto; /* Centraliza a logo horizontalmente */
      transform: none;
    }
    header nav ul {
      position: absolute;
      top: 8vh;
      right: 0;
      left: 350px;
      width: 100vw;
      height: 92vh;
      background: rgba(117, 138, 182, 0.16); /* Mudança da cor do fundo */
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;

    }
    header nav ul li {
      margin-left: 12%;
      opacity: 0;
      font-size: 30px;
      margin-top: 20%;
      justify-items: center;
    

    }
  
    .mobile-menu {
      display: block;
      position: relative;
      margin-left: 20px; /* Espaçamento à esquerda para o menu */
      margin-top: 0%;
    }

    .nav-list {
        top: 88%;
        width: 500px;
        left: 60%;
    }
    .nav-list.active {
        transform: translateX(0);
        top: 88%;
    }
    
    @keyframes navLinkFade {
        from {
        opacity: 0;
        transform: translateX(50px);
        }
        to {
        opacity: 1;
        transform: translateX(0);
        }
    }
    
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
        opacity: 0;
    }
    
    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }
}

    footer {
        display: flex;
        width: 100%;
        height: 100px;
        margin-top: 100%;
        margin-right: 0;
      }
      
      footer a {
        text-decoration: none;
        color: #000000;
        justify-content: center;
      }
      
      footer div ul {
        list-style: none;
        font-size: 15px;
        position: relative;
        top: 50px;
        left: 70px;
        justify-content: center;
      }
      
      footer div ul li {
        display: flex;
        padding: 0 120px 0 0;
        position: relative;
        align-items: start;
        justify-content: center;
        left: 0%;
        right: 50%;
      }
      footer div.logo{
        width: 130px;
        height: 100px;;
        margin-bottom: 15px;
        margin-right: 0;
        left: 0;
      }
      
      footer .logo {
        width: 60%;
        height: 80%;
        position: relative;
    
      }
      
      .uespi {
        position: relative;
        display: flex;
        width: 125px;
        height: 100px;
        overflow-wrap: break-word;
        font-family: 'Lora';
        font-weight: 500;
        font-size: 40px;
        color: #000000;
      }
      footer div.uespi{
        display: flex;
        width: 125px;
        align-items: center;
        justify-content: center;
        margin-left: 40px;
      
      }
      footer .menu-desktop-footer{
        width: 100%;
        height: 100px;
        align-items: center;
        justify-content: center;
      }
      footer div.nomes-p-a{
        display: flex;
        height: 100px;
        align-items: center;
        justify-content: center;
      }
      .conteinerFooter {
        box-shadow: 20px 20px 20px 30px #BEBEBE;
        border-radius: 0px;
        background: rgba(24, 56, 140, 0.16);
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100px;
        left: 0%;
        top: 140%;
        box-sizing: border-box;
      }
      @media (max-width: 999px) {
        footer .conteinerFooter {
            flex-direction: row-reverse;
            align-items: center;
            margin-top: 100%;
        }
    
        footer .logo img {
            width: 50px;
            height: 60px;
            left: 60px;
            margin-top: 10px;
        }
    
        .uespi {
            font-size: 18px;
            left: -20px;
        }
        .menu-desktop-footer { 
            position: relative;
            margin-left: -10px;
        }
        footer .nomes-p-a p {
            font-size: 14px;

        }
    }
    
    @media (max-width: 600px) {
        footer .logo img {
            width: 60px;
        }
    
        .uespi {
            font-size: 16px;
        }
    
        footer .nomes-p-a p {
            font-size: 12px;
        }
    }